.fl {
    float: left;
}
.fr {
    float: right;
}


header {
    background-color: #fff;
}
header ul {
    padding: 0 0.5rem;
}
header ul li {
    float: left;
    height: 3.4rem;
    line-height: 3.4rem;
    font-size: 1.1rem;
}
.sousuo{
    width: 90%;
    background: #f1f1f1;
    height: 2rem;
    margin: 0.5rem auto;
    border-radius: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.3rem;
    z-index: 9999;
    position: absolute;
    left: 5%;
    background-color: rgb(112 109 109 / 50%);
}

.sousuo input{
    width: 80%;
    height: 1.8rem;
    border: none;
    background: none;
    margin-left: 1rem;
    margin-right: 0.5rem;
    color:#c9c4c4;;
}
.sousuo img{
    width: 1rem;
}

header ul li:first-of-type {
    width: 20%;
}
header ul li:first-of-type img {
    width: 0.5rem;
}
header ul li:nth-of-type(2) {
    width: 60%;
    text-align: center;
    overflow: hidden;
}
header ul li:nth-of-type(3) {
    width: 5%;
}
.content{

}
.content .ul-m .img-ul{
    width: 8rem;
    height: 8rem;
    position: relative;
}
.content .ul-m li{
    clear:both;
    padding: 0.5rem 0.1rem;
}
.content .ul-m .img-ul img{
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*border-radius: 0.3rem;*/
}
.content .ul-l div{
    float: left;
}
.content .ul-l .left-div{
    width:40%
}
.content .ul-l .right-div{
   width:50%;
}

.content .ul-l div{
    float: left;
}
.content .ul-l{
   padding:0.3rem;
}
.content .ul-l .p-1{
    font-weight: bold;
    overflow: hidden;
    height: 2.5rem;
}
.content .ul-l .p-2{
     color: #d16203;;
     font-size: 0.8rem;
 }
.content .ul-l .p-3{
    color: #f50000;
    font-size: 0.8rem;
    padding-top: 0.5rem;
    line-height: 1.1rem;
    height: 2.1rem;
    overflow: hidden;
}
.content .ul-l .p-3 span{
    border: 1px solid red;
    border-radius: 0.2rem;
    background: red;
    color: #fff;
    padding: 0.1rem;
    font-size: 0.6rem;
    font-weight: bold;
    margin-right: 0.1rem;

}
.content .ul-l .p-4{
    color: #df2323;
    font-weight: bold;
    padding-top: 0.3rem;
    padding-bottom:0.3rem;
    font-size:1.1rem;
}
.content .ul-l .p-5{
    color: #747272;
    font-size:1rem;
}


.hd-section .bg{
    height:8rem;
    background:#560303;
}
.hd-section .img-div{
    width: 3.5rem;
    height: 3.5rem;
    position: relative;
}
.hd-section .sm-div{
    position: absolute;
    margin: 3.5rem 0rem;
    width: 100%;
}
.hd-section .sm-div .p-com{
    font-weight: bold;
    font-size: 0.9rem;

}
.hd-section .sm-div li:nth-of-type(2){
     width: 50%;
    padding-left: 0.1rem;

 }
.hd-section .sm-div li:nth-of-type(3) img{
   width:1rem;

}
/*.hd-section .sm-div li:nth-of-type(3) div {*/

    /*width: 4.5rem;*/
    /*border-radius: 1rem;*/
    /*background: red;*/
    /*font-size: 0.9rem;*/
    /*text-align: center;*/
/*}*/


.gz-div{
    width: 4.5rem;
    border-radius: 1rem;
    background: red;
    font-size: 0.9rem;
    text-align: center;
    height: 1.5rem;
    line-height: 1.5rem;

}
.ygz-div{
    width: 4.5rem;
    border-radius: 1rem;
    background: #afafaf;
    font-size: 0.9rem;
    text-align: center;
    height: 1.5rem;
    line-height: 1.5rem;

}
.gz-div span {
     text-align: center;
     padding-left: 0.3rem;
 }
.ygz-div span {
    text-align: center;
    padding-left: 0.1rem;
}
.hd-section .sm-div .p-hy{
    font-size: 0.8rem;
    padding-top:0.4rem;
    padding-left:0.6rem;
    color:#cbc6c6;
    overflow: hidden;
    height: 1rem;


}

.hd-section .sm-div .p-fs{
    font-size: 0.8rem;
    padding-top:1rem;
    text-align: center;

}
.hd-section .sm-div li{
    float:left;
    color:#fff;
    padding-right:0.2rem;
    padding-left: 1rem;
}

.hd-section .img-div img{
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.3rem;
}
.content .hy1{
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left:0.4rem;
    background: #fff;
    border-radius: 15px 15px 0 0;

}
.content .hy1 .active{
    color:#eb0f0f;;
}

.content .hy1 li{
    float:left;
    padding-right:0.6rem;
    font-size: 0.9rem;
    font-weight: bold;
}
.content .left{
    width:24%;
    text-align: center;
    padding-top:0.8rem;
    padding-left: 0.8rem;
}
.content .right{
    width:65%;

}
.content .sresult{
     text-align: center;
     margin-top: 40%;
     font-weight: bold;
     font-size: 0.9rem;
 }
.content .sresult img{
    width: 2rem;
}

.content .mm{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ebe9e9;
    padding-top: 0.5rem;
    padding-bottom:0.5rem;
    background: #fff;
    margin:0.3rem;
    border-radius: 1rem;
}
.content .mm .left .div1{
    width: 5rem; /* 设置宽度 */
    height: 5rem; /* 设置高度 */
    position: relative; /* 为了绝对定位的图片 */

}
.content .mm .left .div2{

    height: 10rem;
    border: 4px solid #f5ed00;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    margin-right: 0.2rem;
    width: 4.5rem;
    position: relative;
}
.content .mm .left .div3{

    width: 100%;
    height: 20%;
    background: #f5ed00;
}
.content .mm .left .div2 .div4{
    color: #cda104;
    font-size: 0.8rem;
    padding-top: 2rem;
    font-weight: bold;
}
.content .mm .left .div2 img{
    width:2rem;
    margin-top:1rem;
}


.content .mm .right .pro-img{
    width: 4.5rem; /* 设置宽度 */
    height: 4.5rem; /* 设置高度 */
    position: relative; /* 为了绝对定位的图片 */

}

.content .mm .right .pro-img img{
    width: 100%; /* 让图片宽度填满容器 */
    height: auto; /* 保持图片的原始宽高比 */
    aspect-ratio: 1 / 1; /* 设置宽高比为1:1，即正方形 */
    object-fit: cover; /* 图片填满容器并裁剪以适应 */
    position: absolute; /* 绝对定位使图片居中 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 居中图片 */
    border-radius: 0.3rem;

}




.content .mm .left .div1 img{

    width: 100%; /* 让图片宽度填满容器 */
    height: auto; /* 保持图片的原始宽高比 */
    aspect-ratio: 1 / 1; /* 设置宽高比为1:1，即正方形 */
    object-fit: cover; /* 图片填满容器并裁剪以适应 */
    position: absolute; /* 绝对定位使图片居中 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 居中图片 */
    border-radius: 0.3rem;
}


.content .mm .right .p-main li{
    float:left;
    font-size: 0.8rem;
    width:33.3%;
}

.content .mm .right .p-main .p-fpro li{
    clear:both;
    width: 100%;
}

.content .mm .right .p-main .p-fpro li:nth-child(2) {
    font-size:0.2rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    width: 96%;
}
.content .mm .right .p-main .p-fpro li:nth-child(3) {
    font-size:0.2rem;
    color:red;
}
.content .mm .right .p-main .p-fpro li:nth-child(4) {
    font-size:0.2rem;
    color:#282727;
    height: 3rem;
    overflow: hidden;
}
.content .mm .right .p-main .p-fpro li:nth-child(5) {
    font-size:0.9rem;
    font-weight: bold;
    color:#c30404;
}
.content .mm .right .com{

    padding-top: 0.6rem;
    padding-bottom: 0.2rem;
    font-weight: bold;
    font-size: 1rem;
}
.content .mm .right .p-address{
    font-size:0.7rem;
    color: #4c4c4c;
}
.content .mm .right .p-hy{
    font-size: 0.8rem;
    color: #d30b0b;
    padding-top: 0.5rem;
    font-weight: bold;
}
.content .mm .right .p-totalSales{
    padding-top: 0.5rem;
}
.content .mm .right .pro li{

      height:1.5rem;
}
.content .mm .right .pro li .zprice{

    color:red;
}
.content .mm .right .zp{

     font-size: 0.95rem;
 }

.content .mm .right .zp .zpspan{
    width: 70%; /* 设置宽度 */

    display: inline-block; /* 或者 display: block; */

    white-space: nowrap; /* 防止文本换行 */

    overflow: hidden; /* 隐藏溢出的内容 */

    text-overflow: ellipsis; /* 显示省略号 */
}
.content .mm .right .zp li{

    padding-left: 1rem;
}
.content .hy1 img {
    width: 1rem;
}
.content .mm .right .pro .zpro{

    font-weight: 600;
    width: 75%; /* 设置宽度 */

    display: inline-block; /* 或者 display: block; */

    white-space: nowrap; /* 防止文本换行 */

    overflow: hidden; /* 隐藏溢出的内容 */

    text-overflow: ellipsis; /* 显示省略号 */
}
.content .pro-div{
    padding-bottom: 1rem;
}

.hyfl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-y: scroll;
    display:none;
    z-index: 9999;
}

.hyfl .div-header ul li {
    float: left;
    width: 15%;
    height: 2.2rem;
    line-height: 2.2rem;
    font-size: 1rem;
    color: #484a50
}

.hyfl .div-header ul li:first-of-type img {
    margin-left: .95rem;
    width: .55rem
}

.hyfl .div-header ul li:nth-of-type(2) {
    width: 70%;
    text-align: center
}

.hyfl .div-header ul li:last-of-type img {
    margin-left: .8rem;
    width: .9rem
}

.hyfl .hyfl-content .p-top {
    padding: 0 .95rem;
    background-color: #f3f5f9;
    height: 2.25rem;
    line-height: 2.25rem;
    font-size: .55rem;
    color: #222;
    border-bottom: .025rem solid #e7e7e9
}

.hyfl .hyfl-content ul li {
    margin-left: 1rem;
    padding: 0.8rem 1rem 0 0;
    border-bottom: .025rem solid #eae9eb;
    cursor: pointer;
}

.hyfl .hyfl-content ul li p {
    float: left;
    height: 2.1rem;
    line-height: 2.1rem;
    font-size: .9rem;
    color: #484a50
}

.hyfl .hyfl-content ul li p:last-of-type {
    float: right
}

.hyfl .hyfl-content ul li p:last-of-type img {
    width: .35rem
}


@media (min-width: 960px) {
    html{
        margin: 0 20% 0 20%;
    }
    .sousuo {
        width: 20%;
        left: 40%;
    }
    .hd-section .sm-div {

        left: 21%;
        width: 60%;
    }
    .content .ul-l .left-div {
        width: 13%;
    }
    .hd-section .sm-div li:nth-of-type(2) {
        width: 85%;

    }

}
