html,body{
    height:100%;
}
header {
    background-color: #f74c32;
}

header ul {
    padding: 0 .5rem
}

header ul li {
    float: left;
    height: 3rem;
    line-height: 3rem;
    font-size: 1rem;
    color: #ffffff
}

header ul li:first-of-type {
    width: 20%
}

header ul li:first-of-type img {
    width: .75rem
}

header ul li:nth-of-type(2) {
    width: 58%;
    text-align: center
}

header ul li:nth-of-type(3) {
    width: 20%;
    text-align: right;
    font-size: .6rem
}

.content .sec-nav ul {
    width:100%;
    margin: 0 auto
}

.content .sec-nav ul li {
    text-align: center;
    /*width: 33%;*/
    float: left;
    height: 2.5rem;
    line-height: 2.5rem;
    color: #222;
    padding:0.1rem 0.4rem 0.1rem 0.3rem;
}

.content .sec-nav ul li img {
    width: 1rem;
    margin-right: .1rem
}

.content .sec-nav ul li p {
    font-size: .9rem;
    height:2rem;
}

.content .sec-list ul li {
    padding: 0 .5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: .85rem;
    color: #222;
    border-bottom: .025rem solid #eee;
    cursor: pointer;
    clear:both;
}

.content .sec-list ul li p:nth-of-type(1) {
    float: left;
    width: 55%;
    overflow: hidden;
    word-break: keep-all
}

.content .sec-list ul li p:nth-of-type(2) {
    float: right;
    font-size:.7rem;
}

.content .sec-list ul li:first-of-type {
    border-top: .025rem solid #eee
}
.sec-hide{
    background:#f9f9f9;
    padding-left: 0.5rem;
}


.content .nav {
    position: fixed;
    z-index: 999;
    top:-0.5rem;
    width: 100%;
}


.content .sec-nav ul li .del img {
    width: 1.2rem;
}

.content .p-wq span:nth-of-type(1) {
    padding-right:0.2rem;
}

.tab-title{
    width:50%;
}
.layui-tab-brief>.layui-tab-more li.layui-this:after,.layui-tab-brief>.layui-tab-title .layui-this:after {
    border-bottom: 2px solid #f74c32 !important;
}


.div-tingyong {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4)
}

.div-tingyong .box {
    width: 21rem;
    margin: 30vh auto 0 auto
}

.div-tingyong .box>p {
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    background-color: #f74c32;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1rem;
    color: #fefefe;
    text-align: center;
    position: relative
}

.div-tingyong .box>p img {
    position: absolute;
    width: 1.5rem;
    top: -8%;
    right: -2%
}

.div-tingyong .box .div-box p {
    background-color: #fff;
    height: 5rem;
    line-height: 5rem;
    font-size: 1rem;
    color: #222;
    text-align: center;
    border-bottom: 0.025rem solid #eee;
}

.div-tingyong .box .div-box div p {
    background-color: #fff;
    width: 50%;
    height: 3rem;
    line-height: 3rem;
    font-size: 1rem;
    color: #222;
    text-align: center
}

.div-tingyong .box .div-box div p:nth-of-type(1) {
    border-bottom-left-radius: .3rem;
    color: #666;
    position: relative
}

.div-tingyong .box .div-box div p:nth-of-type(1):before {
    content: "";
    position: absolute;
    height: 100%;
    width: .025rem;
    right: .025rem;
    background-color: #eee
}

.div-tingyong .box .div-box div p:nth-of-type(2) {
    border-bottom-right-radius: .3rem
}

.active {
    background-color: #dd40284f;
    color: white;
    font-size: 12px;
}


