
body{
	overflow:hidden;
}
header {
	background-color: #f74c32
}

header ul {
	padding: 0 .5rem
}

header ul li {
	float: left;
	height: 3rem;
	line-height: 3rem;
	font-size: 1rem;
	color: #fff
}

header ul li:first-of-type {
	width: 20%
}

header ul li:first-of-type img {
	width: .75rem
}

header ul li:nth-of-type(2) {
	width: 58%;
	text-align: center
}

header ul li:nth-of-type(3) {
	width: 20%;
	text-align: right
}

.content .div-name {
	border-bottom: .025rem solid #eee;
	padding: .625rem .75rem .5rem .75rem;
	clear:both;
	overflow:hidden;
}

.content .div-name label {
	display: block;
	height: 2rem;
	line-height: 2rem;
	font-size: .95rem;
	color: #222;
	width:25%;
	float:left
}

.content .div-name input {
	height: 2rem;
	line-height: 2rem;
	font-size: .9rem;
	color: #666;
	background-color: transparent;
	border: 0;
	width:75%;
	float:left
}


.content .div-bottom {
	left: 0;
	width: 100%;
	padding: .5rem 0;
	background-color: #e64d3d;
	text-align: center;
	border-top: 0.35rem solid #f8f8f8;
	height: 2rem;
	line-height: 1.5rem;
	font-size: 0.85rem;
	color: #ffffff;
}

.content .div-bottom p {
	background-color: #f74c32;
	border-radius: 0.3rem;
	width: 20rem;
	margin: 0 auto;
	text-align: center;
	height: 2.2rem;
	line-height: 2.2rem;
	font-size: .95rem;
	color: #fff;
}

@media (min-width: 960px) {

	.content{
		width: 800px;
		height:600px;
		margin: 2rem auto;
		border: 1px solid #efeaea;
	}
	.content .div-bottom {

		margin-top: 8rem;
	}
}
