html,body{
    height:100%;
    overflow:hidden;
}
header {
    background-color: #f74c32;
}

header ul {
    padding: 0 .5rem
}

header ul li {
    float: left;
    height: 3rem;
    line-height: 3rem;
    font-size: 1rem;
    color: #ffffff
}

header ul li:first-of-type {
    width: 20%
}

header ul li:first-of-type img {
    width: .75rem
}

header ul li:nth-of-type(2) {
    width: 58%;
    text-align: center
}

header ul li:nth-of-type(3) {
    width: 20%;
    text-align: right;
    font-size: .6rem
}
.form-label {
    float: left;
    display: block;
    padding: 9px 15px;
    line-height: 20px;
    text-align: right;
    font-weight:400;
}
.label-set{
    float:right;
    margin-right:20px;
    color:#3a88b7;
}
.label-no-set{
    float:right;
    margin-right:20px;
    color:#f74c32;
}
.layui-form{
    padding:10px 5px
}

.layui-form-item{
    margin-bottom:8px;
}
.guarantee-item{
    margin-left:15px;
}
.level-data {
    margin-bottom: 0 !important;
}
.span-salary{
    margin-left:10px;
    color:#3a88b7;
}
.level-data label{
    color:#249133;
}
@media screen and (max-width: 450px) {

}
