@charset "utf-8";
/* CSS Document */ 
body{margin:0;}
.left{
width:15%;
height:500px;
float:left;
border:#0099FF 1px solid;}

.right{
width:84%;
float:right;}
table{
font-size:12px;}
#body_01{
background:#E4F1FA;
border:#a8c7ce 1px solid;
height:30px;
line-height:30px;
font-size:12px;
}

#body_02{
border:#a8c7ce 1px solid;
width:100%;
font-size:12px;
float:left;

}

.ACT_btn {
	background: url(../images/admin_images/act_btn.gif) no-repeat;
	height:26px;
	width:94px;
	cursor:pointer;
	border:solid 0px #111;
	font-size: 12px;
}
.btn01{
background:url(../images/admin_images/act_btn01.gif) no-repeat;
width:188px;
height:26px;
cursor:pointer;
border:solid 0px #111;
font-size: 12px;
}

.btn02{
background:url(../images/act_btn00.gif) no-repeat;
width:70px;
height:24px;
line-height:24px;
cursor:pointer;
border:solid 0px #111;
font-size: 12px;
}

.input01{width:180px;border:1px solid #7F9DB9;color:#1E5494;
}
.txt00{ font-size:13px; color:#ff0000;font-weight:bold;}
.txt01 {
	color:#1E5494;
	font-size:12px;
	font-weight:bolder;
    line-height:22px;
	}
.txt02{ font-size:12px; color:#000000;}
.link01{font-size: 12px;color: #1E5494;text-decoration: none;font-weight:bold;}
.link02{font-size: 12px;color: #1E5494;text-decoration: none;}


.unitlib_list_left{
background:#E4F1FA;
border:#a8c7ce 1px solid;
height:30px;
line-height:30px;
float:left;
width:100%;
height:500px;
}
.unitlib_list_right01{
background:#E4F1FA;
border:#a8c7ce 1px solid;
height:30px;
line-height:30px;
width:100%;
float:right;
} 
.input02{border:1px solid #7F9DB9;color:#1E5494;
}
.input03{width:400px;border:1px solid #7F9DB9;color:#1E5494;
}

/*人员子集*/
.bg_tr01 {
	color:#1E5494;
	font-size:12px;
	font-weight:bolder;
	background:#E4F1FA;
	margin:0 0 0 3px;
    line-height: 22px;
	border:solid 1px #a8c7ce;
}
.td_bg01 {
 border:solid 1px #a8c7ce; height:20px; 
 background-color:#FFFFFF;
 line-height:20px;
 font-size:12px;
}
.list_add01{
background:url(../images/admin_images/005.gif) no-repeat;
height:16px;
width:16px;
line-height:26px;}



.list_add{
background:url(../images/admin_images/tj.gif) no-repeat;
height:16px;
width:16px;
line-height:26px;}

.list_changes{
background:url(../images/admin_images/xg.gif)  no-repeat;
width:20px;
height:21px;
line-height:26px;}


.list_remove{
background:url(../images/admin_images/Delete.gif) no-repeat;
height:16px;
width:16px;
line-height:26px;}

.list_find{background:url(../images/admin_images/cz.gif) no-repeat;
height:16px;
width:16px;}

#tooltip{
    position:absolute;
	background:#edf8fe;
    border:solid 1px;
	padding:1px;
	color:#266385;
	display:none;
	z-index:1000;
	width:160px;
}

.bannb_01{
background:url(../images/admin_images/bg_01.gif) repeat-x;
height:27px;
width:100%;
}


.bannb_02{
background:url(../images/admin_images/bg_03.gif) repeat-x;
width:100%;
height:31px;
float:left;
line-height:31px;}

.bannb_03{
background:url(../images/admin_images/bg_04.gif) no-repeat;
width:100px;
height:26px;
float:left;
margin-top:1px;
margin-left:10px;
line-height:26px;} 
.menu {
	font-family: "宋体";
	width:70px;
	font-size:12px;
	height:24px;
	float:left;
	margin-left:4px;
}
.menu ul li a, .menu ul li a:visited {
display:block; 
text-decoration:none; 
width:70px; 
height:24px; 
line-height:24px;
font-size:12px; 
overflow:hidden;}
.menu ul {padding:0;margin:0;list-style-type:none; }
.menu ul li {float:left; margin-right:1px;z-index:1000;}
.menu ul li ul {display: none;}
.menu ul li:hover a {color:#d26d0b; background:#e4f1fa;}
.menu ul li:hover ul {display:block; position:absolute;top:370px;left:230px;width:70px;border:#c2d3db 1px solid;text-align:center; }
.menu ul li:hover ul li a.hide {color:#000;font-size:12px;
border-bottom:#c2d3db 1px solid;}
.menu ul li:hover ul li:hover a.hide {background:url(../images/admin_images/bg_02.gif) repeat-x;height:24px;line-height:24px; color:#000;font-size:12px;width:70px;}
.menu ul li:hover ul li ul {display: none;}
.menu ul li:hover ul li a {display:block; background:#E4F1FA; color:#000;border-bottom:#c2d3db 1px solid;}
.menu ul li:hover ul li a:hover {background:url(../images/admin_images/bg_02.gif) repeat-x;height:24px;line-height:24px; color:#000;font-size:12px;width:70px; color:#000;}

.menu01 {
	font-family: "宋体";
	width:100px;
	font-size:12px;
	height:24px;
	float:left;
	margin-left:10px;
	text-align:center;
	background:url(../images/admin_images/bg_04.gif) no-repeat;
	line-height:24px;
	margin-top:3px;
}
.menu01 ul li a, .menu01 ul li a:visited {
display:block; 
text-decoration:none; 
width:98px; 
height:24px; 
line-height:24px;
font-size:12px; 
overflow:hidden;}
.menu01 ul {padding:0;margin:0;list-style-type:none; }
.menu01 ul li {float:left; margin-right:1px;z-index:1000;}
.menu01 ul li ul {display: none;}
.menu01 ul li:hover a {color:#d26d0b; background:url(../images/admin_images/bg_04.gif) no-repeat;}
.menu01 ul li:hover ul {display:block; position:absolute;top:60px;left:11px;width:98px;border:#c2d3db 1px solid;text-align:center; }
.menu01 ul li:hover ul li a.hide {color:#000;font-size:12px;
border-bottom:#c2d3db 1px solid;}
.menu01 ul li:hover ul li:hover a.hide {background:url(../images/admin_images/bg_02.gif) repeat-x;height:24px;line-height:24px; color:#000;font-size:12px;width:98px;}
.menu01 ul li:hover ul li ul {display: none;}
.menu01 ul li:hover ul li a {display:block; background:#E4F1FA; color:#000;border-bottom:#c2d3db 1px solid;}
.menu01 ul li:hover ul li a:hover {background:url(../images/admin_images/bg_02.gif) repeat-x;height:24px;line-height:24px; color:#000;font-size:12px;width:98px; color:#000;}

.code_ann{
background:url(../images/admin_images/add_ym.gif) no-repeat;
width:50px;
height:22px;
text-align:center;
line-height:22px;
float:left;
margin-right:5px;}
.act_ts{width:400px;padding: 10px 5px 0 10px;text-align:center;
margin-left:10px;}
.act_ts ul{list-style-type: none;margin: 0px;padding: 0px;}
.act_ts  li{font-size:14px;line-height:22px;color:#333333; padding:0 0 10px 0;text-align:center;}
.contenttsfoot{height:4px;background-color: #a8c7ce;}

.contentts{ width:500px; display:block; margin:0 auto;border:#a8c7ce 1px solid;}
.divbg{height:33px;overflow:hidden;clear:both;background:url(../images/admin_images/tx_02.gif) repeat-x;list-style-image: none;list-style-type: none;font-size: 14px;color: #ffffff;line-height: 24px;}
.divtxl{width:200px;height:30px;float:left;font-size:14px;line-height:30px; font-weight:bold;color: #000;background-image: url(../images/admin_images/tg_05.gif);background-repeat: no-repeat;background-position:15px 5px;text-indent:25px;}
.SearchM1{float:right;width:16px;height:16px;margin-right:4px;text-align: center;
margin-top:5px;background:url(../images/admin_images/ico29.gif);
cursor:pointer;}
#btn04{float:left;background:url(../images/admin_images/wen.gif) no-repeat;width:32px;height:31px;
}
.formborder0{ width:300px;background-color:#FFFFFF;border: 1px solid #7F9DB9;}
.clear {clear:both; height:26px; line-height:26px; font-size:0;border-bottom:#c2cfd8 1px dotted;}

.tree{
width:150px;
height:30px;
float:left;
line-height:30px;
margin-left:2px;}
.text_tree{
width:150px;
height:500px;
border:solid 1px #a8c7ce;}
/*附件显示*/
.contenttsfj{ width:600px; display:block; margin:0 auto;border:#a8c7ce 1px solid;}
.acc_main{
width:550px;
float:left;
margin-left:5px;}
.link03{font-size: 12px;color: #1E5494;text-decoration: none;
margin-left:5px;
margin-top:3px;}

.acc_pic{
width:460px;
height:300px;
float:left;
margin-left:5px;
border:1px solid #9ebae1;
text-align:center;}
.acc_ts{width:400px;padding: 10px 5px 0 10px;text-align:center;
margin-left:10px;}
.acc_ts ul{list-style-type: none;margin: 0px;padding: 0px;}
.acc_ts  li{font-size:14px;line-height:22px;color:#333333; padding:0 0 10px 0;text-align:right;}


.table {
	border-collapse:collapse;
	border:1px solid #a8c7ce;
	font-size:12px;
	table-layout:fixed
}
.table th {
	border:1px solid #a8c7ce;
	color:#1E5494;
	background:#E4F1FA;
}
.table td {
	border:1px solid #a8c7ce;
	color:#333;
	overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
}

/*代码管理*/

.code{
width:100%;
float:left;
}
.code_bannb{
width:100%;
float:left;
height:25px;
background:url(../images/admin_images/bannb_01.gif) repeat-x;
line-height:25px;}

.code_left{
width:99%;
float:left;
height:500px;
border:1px solid #A8C7CE;
margin-right:1px;}

.code_right_bannb{
width:100%;
float:right;
height:24px;
background:#e7f7ff;}


.code_input{
width:30px;height:18px;border:1px solid #7F9DB9;text-align:center;color:#1E5494;
}

.code_add{
background:url(../images/admin_images/tj.gif) no-repeat;
height:16px;
width:16px;}


.code_changes{
background:url(../images/admin_images/xg.gif)  no-repeat;
width:20px;
height:21px;}


.code_remove{
background:url(../images/admin_images/Delete.gif) no-repeat;
height:16px;
width:16px;}



.code_move{background:url(../images/admin_images/sy.gif) no-repeat;
height:18px;
width:18px;}

.code_down{background:url(../images/admin_images/xy.gif) no-repeat;
height:18px;
width:18px;}

.code_find{background:url(../images/admin_images/cz.gif) no-repeat;
height:16px;
width:16px;}

.code_ann{
background:url(../images/admin_images/add_ym.gif) no-repeat;
width:50px;
height:22px;
text-align:center;
line-height:22px;
float:left;
margin-right:5px;}

.link02{font-size: 12px;color: #333;text-decoration: none;}
.link03{font-size: 12px;color: #1E5494;text-decoration: none;}

#btn04{float:left;background:url(../images/admin_images/wen.gif) no-repeat;width:32px;height:31px;
}

.xx{
color:#FF0000;
margin-right:2px;}

.right_dan{
width:43px;
height:24px;
background:url(../images/admin_images/right.jpg) no-repeat;
float:left;
text-align:center;
cursor:pointer;}

.left_dan{width:43px;
height:24px;
background:url(../images/admin_images/fy_02.gif) no-repeat;
float:left;
text-align:center;
margin-top:10px;
cursor:pointer;}
.right_suang{
width:43px;
height:24px;
background:url(../images/admin_images/down_right.gif) no-repeat;
float:left;
text-align:center;
margin-top:10px;
cursor:pointer;}
.left_suang{width:43px;
height:24px;
background:url(../images/admin_images/down_list.gif) no-repeat;
float:left;
text-align:center;
margin-top:10px;
cursor:pointer;}
/*人员详细信息*/

.content_main{ 
width:950px; 
display:block; 
margin:0 auto;
height:320px;
border:#99bbe8 1px solid;
}
.tabsBox{width:930px;
margin:0 auto;}
.tabs{ 
height:20px;
margin-top:5px;
}
.tabs li{ 
width:80px; 
text-align:center; 
padding-top:2px; 
line-height:18px; 
float:left; 
background-color:#99bbe8; 
margin-right:5px; 
list-style:none; 
position:relative;cursor:pointer;
color:#333;}
.tabs li span{ display:none;}
.tabs .cur{ background-color:#f0f0f0;}
.tabs .cur span{
display:block;
width:1px; 
height:1px; 
border:solid 8px; 
border-color:#f0f0f0 #fff #fff #fff; 
position:absolute; 
top:20px; 
left:32px; 
overflow:hidden; 
z-index:-1;}
.cons{
padding:0px 0px; 
overflow:hidden;
position:relative; 
z-index:1;
float:left;
width:930px;}
.cons ul li{ 
list-style:none; 
line-height:20px;
}
.hidden{ display:none;}
.block{ display:block;}

.tabsBox_danwei{ width:100%; margin:0px auto;}
.tabs_danwei{ height:20px;}
.tabs_danwei li{ width:80px; text-align:center; padding-top:2px; line-height:18px; float:left; background-color:#b5ceed; margin-right:5px; list-style:none; position:relative; cursor:pointer; color:#333;}
.tabs_danwei li span{ display:none;}
.tabs_danwei .cur{ background-color:#E4F1FA;}
.tabs_danwei .cur span{ display:block; width:1px; height:1px; border:solid 8px; border-color:#E4F1FA #fff #fff #fff; position:absolute; top:20px; left:32px; overflow:hidden; z-index:-1;}
.cons_danwei{overflow:hidden; border:1px solid #99bbe8; position:relative; z-index:1;
float:left;
width:100%;}
.cons_danwei ul li{ list-style:none; line-height:20px;}
.hidden_danwei{ display:none;}
.block_danwei{ display:block;}

.flexigrid div.hDiv th div{ text-align:center;}