@media only screen and (max-height: 568px) {
    .dwbc-p {
        position: absolute;
        right: -66px;
        top: 50%;
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
        width: 60px;
        z-index: 9999;
    }
    .dwbc-p .dwbw {
        float: left;
        width: 100%;
        border: 1px solid #eee;
        background: #fff;
    }
    .dwbg {
        margin-left: -33px;
    }
}
