@charset "utf-8";
/* CSS Document */

/*公共样式*/
html,body{
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color:transparent;
}
body{margin:0 auto; background-color: #fff;width:100%;}
html,body,div,p,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,button,textarea,iframe,table,th,td{margin:0 0; padding:0 0; color:#666; font-family:'微软雅黑';}
img{ cursor:pointer;border:none;vertical-align: middle;-webkit-tap-highlight-color:rgba(0,0,0,0)}
ul,li,ol{ list-style: none;}
a,a:link { text-decoration: none; color: #666;-webkit-tap-highlight-color:rgba(0,0,0,0);}
a:active,a:hover { text-decoration: none; }
a:focus{ outline: none; }
.left{float:left;}
.right{float:right;}
input{
    outline: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
::-webkit-scrollbar {
    width: 0;
}

/*公共样式 end*/

/*首页*/
.wfj_con{

}
.wfj_con .wfj_banner .swiper-container-banner{
    height: 6rem;
}
.wfj_con .wfj_banner .swiper-container-banner img{
    width: 100%;
    height: 100%;
}
.wfj_con .wfj_banner .swiper-container-banner .swiper-pagination{
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
}
.wfj_con .wfj_banner .swiper-container-banner .swiper-pagination .swiper-pagination-switch{
    width: 0.4rem;
    height: 0.4rem;
    display: inline-block;
    border-radius: 100%;
    border: 1px solid #fff;
    margin: 0 0.1rem;
}
.wfj_con .wfj_banner .swiper-container-banner .swiper-pagination .swiper-active-switch{
    background-color: #fff;
}
.wfj_mil{
    height: 5.5rem;
    overflow: hidden;
    border-bottom: 0.5rem solid #f4f4f4;
}
.swiper-container-mil{
    height: 5.5rem;
}
.swiper-container-mil ul{
    overflow: hidden;
}
.swiper-container-mil ul li{
    width: 20%;
    float: left;
    text-align: center;
    margin: 0 2.5%;
}
.swiper-container-mil ul li img{
    width: 2rem;
    height: 2rem;
    margin-top: 1rem;

}
.swiper-container-mil ul li p{
    font-size: 0.6rem;
    line-height: 2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.swiper-container-mil .swiper-pagination{
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
}
.swiper-container-mil .swiper-pagination .swiper-pagination-switch{
    width: 0.3rem;
    height: 0.3rem;
    display: inline-block;
    border-radius: 100%;
    border: 1px solid #c6c6c6;
    margin: 0 0.1rem;
}
.swiper-container-mil .swiper-pagination .swiper-active-switch{
    background-color: #c6c6c6;
}
.wfj_off {
    border-bottom: 0.5rem solid #f4f4f4;
}
.wfj_off .tit{
    text-align: center;
}
.wfj_off .tit h5{
    height: 2.5rem;
    line-height: 0;
    font-size: 0.7rem;
    color: #000;
    padding: 1rem 0;
}
.wfj_off .tit h5 img{
    width: 1.2rem;
    height: 1.2rem;
}
.wfj_off .tit h5 span{
    padding-left: 0.5rem;

}
.wfj_off .mil .title{
    overflow: hidden;
    padding: 0 4.5%;
}
.wfj_off .mil .title i{
    background-color: #f9c128;
    width: 5px;
    height: 18px;
    display: block;
    float: left;
    border-radius: 5px;
    margin: 1px 0;
}
.wfj_off .mil .title h5{
    float: left;
    font-size: 0.6rem;
    text-indent: 0.15rem;
}
.wfj_off .mil .title a{
    font-size: 0.6rem;
    float: right;
}
.wfj_off .mil ul{
    overflow: hidden;
    width: 95%;
    margin: 0.5rem 2.5%;
}
.wfj_off .mil ul li{
    width: 4.5rem;
    height: 4.5rem;
    float: left;
    margin: 0 0.25rem;
    position: relative;
}
.wfj_off .mil ul li img{
    width: 100%;
    height: 100%;
}
.wfj_off .mil ul li p{
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    position: absolute;
    bottom: 0;
    font-size: 0.6rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*2017.8.17*/
.wfj_off_ {
    border-bottom: 0.5rem solid #f4f4f4;
}
.wfj_off_ .tit{
    text-align: center;
}
.wfj_off_ .tit h5{
    height: 2.5rem;
    line-height: 0;
    font-size: 0.7rem;
    color: #000;
    padding: 1rem 0;
}
.wfj_off_ .tit h5 img{
    width: 1.2rem;
    height: 1.2rem;
}
.wfj_off_ .tit h5 span{
    padding-left: 0.5rem;
}
.wfj_off_ .mil .title{
    overflow: hidden;
}
.wfj_off_ .mil .title a{
    font-size: 0.6rem;
    float: right;
}
.wfj_off_  .xianyu_n{
    overflow: hidden;
}
.wfj_off_  .xianyu_n li{
    width: 33.33%;
    float: left;
    text-align: center;
    margin: 0.5rem 0;
}
.wfj_off_  .xianyu_n li div.xianyu{
    width: 80%;
    margin: 0 10%;
    min-height: 4rem;
    background-color: #F0F0F0;
    border-radius: 0.3rem;
}


.wfj_off_  .xianyu_n li div.xianyu p{
    width: 1.8rem;
    height: 1.8rem;
    font-size: 1rem;
    opacity: 0.9;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wfj_off_  .xianyu_n li div.xianyu h5{
    padding: 0.3rem 0;
    font-size: 0.7rem;
    position: relative;
}



/*#diqu li p {*/
    /*width: 0.8rem;*/
    /*height: 0.8rem;*/
    /*font-size: 0.3rem;*/
    /*opacity: 0.9;*/
    /*margin: 0 auto;*/
    /*margin-top: -1.2rem;*/
    /*border-radius: 50%;*/
    /*border: 2px solid;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
/*}*/
/*@media (max-width:1199px){*/
    /*#diqu li p {*/
        /*width: 1.4rem;*/
        /*height: 1.4rem;*/
        /*font-size: 0.7rem;*/
        /*opacity: 0.9;*/
        /*margin: 0 auto;*/
        /*margin-top: -2.5rem;*/
        /*border-radius: 50%;*/
        /*border: 2px solid;*/
        /*display: flex;*/
        /*justify-content: center;*/
        /*align-items: center;*/
    /*}*/
    /*#diqu li h5{*/
        /*padding: 0.3rem 0;*/
        /*font-size: 0.7rem;*/
        /*position: relative;*/
    /*}*/




.News .tit h5{
    padding-bottom: 0;
}
.News .mil .news_list{
    overflow: hidden;
    padding: 0;
}
.News .mil .news_list li{
    width: 100%;
    float: none;
    overflow: hidden;
    margin: 0;
}
.News .mil .news_list li img{
    float: left;
    width: 4.4rem;
    height: 3.3rem;
    object-fit: cover;
}
.News .mil .news_list li .text{
    width: 70%;
    float: left;
}
.News .mil .news_list li .text h5{
    height: 1.65rem;
    font-size: 0.65rem;
    font-weight: 500;
    padding: 0.1rem;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.News .mil .news_list li .text p{
    position: inherit;
    font-size: 0.55rem;
    background: #fff;
    color: #666;
    overflow: hidden;
    margin-top: 0.5rem;
}
.News .mil .news_list li .text p span{
    width: 50%;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.time{
    text-align: right;
}
.rim .tit h5{

}
.rim .mil .title i {
    background-color: #00c291;
}
.rim .mil ul li{
    margin-bottom: 0.5rem;
}
.rim .mil ul li p{

}
.shop .tit h5{
    padding-bottom: 0;
}
.shop .mil ul li{
    width: 7rem;
    height: 8.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ddd;
}
.shop .mil ul li img{
    height: 6rem;
}
.shop .mil ul li .text h5{
    font-size: 0.58rem;
    line-height: 1.5rem;
    padding: 0 0.15rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.shop .mil ul li .text .bottom{
    font-size: 0.55rem;
    line-height: 1rem;
    padding: 0 0.15rem;
}
.shop .mil ul li .text .bottom .qian{
    width: 50%;
    text-align: left;
    display: inline-block;
    float: left;
    color: #ff5500;
}
.shop .mil ul li .text .bottom .qian b{
    font-size: 0.6rem;
}
.shop .mil ul li .text .bottom .mai{
    width: 50%;
    text-align: right;
    display: inline-block;
    float: right;
    color: #9f9f9f;
}
.attract .tit h5{
    padding-bottom: 0;
}
.attract .mil ul li {
    height: 5rem;
    margin-bottom: 0.5rem;
    background-color: rgb(244, 244, 244);
}
.city_scale .tit h5{
    padding-bottom: 0;
}
.city_scale .mil ul li {
    margin-bottom: 0.5rem;
}
.city_scale .mil ul li img{
    height: 3.5rem;
}
.city_scale .mil ul li p{
    background-color: #f4f4f4;
    color: #343434;
}
.code{
    border-bottom: none;
}
.code .code_mil li{
    text-align: center;
    margin-bottom: 1rem;
}
.code .code_mil li h5{
    font-size: 0.6rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
}
.code .code_mil li img{
    width: 6rem;
    height: 6rem;
}
#return {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

/* 经济联营平台*/
.terrace a li span{
    margin: 28px;
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.8rem;
    float: left;
    border: 2px solid #3f81c1;
    border-radius: 50%;
    color: #3f81c1;
    background: #e6f3ff;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
}
.terrace a:nth-child(2) li span{
    border: 2px solid #41b651;
    background: #ebfce5;
    color: #41b651;
}
.terrace a:nth-child(3) li span{
    border: 2px solid #ff0000;
    background: #ffbfbf;
    color: #ff0000;
}
.terrace a:nth-child(4) li span{
    border: 2px solid #5670b6;
    background: #dce5ff;
    color: #5670b6;
}
.terrace a:nth-child(5) li span{
    border: 2px solid #ea68a2;
    color: #ea68a2;
    background: #f5cfe0;
}
.terrace a:nth-child(6) li span{
    border: 2px solid #8fc31f;
    color: #8fc31f;
    background: #e6efd2;
}
.terrace li span{
    font-size: 0.8rem;
    font-weight: 600;
}


/*首页 end*/


