@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}
html{overflow-x: hidden; overflow-y: hidden;}
body{margin: 0 auto;}
img{ cursor:pointer;border:none;}
ul,li,ol{ list-style: none;}
a,a:link { text-decoration: none; color: #000;}
a:active,a:hover { text-decoration: none;}
a:focus{ outline: none;background: #fff; }
input,button{
    outline: none;
}
.clearfix{
    clear: both;
}
.body{
    background: #f3f3f3;
}

.res_top{
    background-color: #f74c32;
}
.res_top ul{
    line-height: 2.5;
    padding: 0 10px;
}
.res_top ul li{
    line-height: 3rem;
    float: left;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    height: 3rem;
}
.res_top ul li:nth-child(1){
    width: 16%;
    text-align: left;
}
.res_top ul li:nth-child(1) a{

}
.res_top ul li:nth-child(2){
    width: 68%;

}
.res_top ul li:nth-child(3){
    width: 16%;
    font-size: 1rem;
    text-align: right;
}
.res_top ul li img {

    width: 0.75rem;
    vertical-align: middle;
}




.basics{
    width: 95%;
    margin: 0 auto;
    margin-top: 1rem;
}
.basics .basics_mil{
    overflow: hidden;
    -webkit-align-items: center;
    -moz-align-items:center;
    -o-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: -o-flex;
    display: -moz-flex;
    display: flex;
}
.basics .basics_mil .head-div{
    color: #000000;
    font-weight: 800;
    float: left;
    font-size: 1rem;
    width: 100%;
    margin-bottom: 2rem;
}
.basics .basics_mil .head-div span{
    padding: 0.2rem;
    background: red;
    color: #fff;
    font-size: 0.8rem;
    border-radius: 0.4rem 0.4rem 0.4rem 0rem;
}
.basics .news span{

    margin-left: 0.5rem;
    color: #000000;
    font-weight: 800;
}
.basics .news{

    height:3rem;
}

.basics .pic img{
    margin: 0 auto;
    width: 50%;
}
.basics .answer{

    margin-top:2rem;
}
.letter{
    height: 2rem;
    width: 2rem;
    background-color: #FFFFFF;
    text-align: center;
    line-height: 2rem;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px #d6d6d6 inset;


}



@media (min-width: 960px) {
    html{
        margin: 0 25% 0 25%;
    }
    .job-int_d1 {

        width: 50%;
        background: #fff;
        margin: auto;
        margin-left: 25%;
        margin-top: 50%;
        margin-bottom: 10%;
    }
    .job-int_gzxz {
        width: 60%;

    }

    .job-int_d2 p {
        width: 60%;
    }
    .basics .basics_mil .bas_head {
        width: 46%;
    }


    #datePage {

        width: 20rem;

    }

}