.fl {
	float: left
}

.fr {
	float: right
}

header {
    border-bottom: 1px solid #d0d0d0;
}

header ul {
	padding: 0 .5rem
}

header ul li {
	float: left;
	height: 2.2rem;
	line-height: 2.2rem;
	font-size: .8rem;
	color: #6d6d6d
}

header ul li:first-of-type {
	width: 20%
}

header ul li:first-of-type img {
	width: .45rem
}

header ul li:nth-of-type(2) {
	width: 50%;
	text-align: center
}

header ul li:nth-of-type(3) {
	width: 28%;
	text-align: right;
	font-size: .6rem
}

.content {
	padding-top: .75rem
}

.content .sec-search {
	padding: 0 1rem
}

.content .sec-search .box {
	background-color: #f6f6f6;
	border-radius: 1rem
}

.content .sec-search .box label {
	display: flex;
	align-items: center;
	height: 1.45rem;
	line-height: 1.45rem;
	float: left;
	width: 1.75rem;
	text-align: center
}

.content .sec-search .box label img {
	margin-left: .65rem;
	width: .65rem
}

.content .sec-search .box input {
	float: left;
	height: 1.45rem;
	line-height: 1.45rem;
	font-size: .6rem;
	color: #222;
	border: 0;
	background-color: transparent
}

.content .sec-nav ul {
	width:100%;
	margin: 0 auto
}

.content .sec-nav ul li {
	text-align: center;
	width: 33%;
	float: left;
	height: 2.4rem;
	line-height: 2.4rem;
	color: #222;
}

.content .sec-nav ul li img {
	width: .7rem;
	margin-right: .5rem
}

.content .sec-nav ul li p {
	font-size: .6rem;

}

.content .sec-list ul li {
	padding: 0 .5rem;
	height: 2.15rem;
	line-height: 2.15rem;
	font-size: .6rem;
	color: #222;
	border-bottom: .025rem solid #eee;
	cursor: pointer;
	clear: both;
}

.content .sec-list ul li p:nth-of-type(1) {
	float: left
}

.content .sec-list ul li p:nth-of-type(2) {
	float: right
}

.content .sec-list ul li .p-cg{
	color: #999
}
.content .sec-list ul li .p-yq {
	color: #65e09c
}



.content .sec-list ul li .p-wq {
	color: #0d9908
}

.content .sec-list ul li .p-dzf {
	color: #ff1827
}

.content .sec-list ul li .p-bh {
	color: #ffad10
}



.content .sec-list ul li:first-of-type {
	border-top: .025rem solid #eee
}
.sec-hide{
	padding-top: 0.5rem;
}

.stamp img {
	width: .7rem;
	margin-right: .5rem;
}

.active p{

	color:red;
}

.con{
    display:none;
	width: 200px;
	transform-origin: left center;
	z-index: 2012;
	position: absolute;
	top: 25%;
	left: 22%;
	background: #fff;
	min-width: 150px;
	border: 1px solid #ebeef5;
	padding: 12px;
	-webkit-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
	box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
	word-break: break-all;
}

.div-sel{

	height: 100px;
	padding:15px;
}

.btn{

	display: inline-block;
	line-height: 1px;
	white-space: nowrap;
	cursor: pointer;
	background: #fff;
	border: 1px solid #dcdfe6;
	color: #606266;
	-webkit-appearance: none;
	text-align: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	margin: 0;
	font-weight: 500;
	padding: 12px 20px;
	font-size: 14px;
	border-radius: 4px;
	width:100%;
}

button:hover{
	background: red;
	color:#fff;

}
