body{margin:0 auto; background-color: #f0f0f0;width:100%;}
html,body,div,p,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,button,textarea,iframe,table,th,td{margin:0 0; padding:0px 0px; font-size:18px; color:#666; font-family:'华文黑体';}
.all{ width:60%;margin:0 auto;margin-top:50px;border:1px dotted #121212;}
.main_main{width:100%;}
.title{text-align:center;margin-top:10px;}
.title span{font-size:30px;color:#5CACEE;}
.all table{padding-top:3%;}
.all table tr{width:400px;}
.all table tr td{font-size:18px;}
.all table tr td input{height:25px;width:210px;}
.all table tr td select {height:29px;width:210px;}
.all table tr td textarea{height:150px;width:210px;}
.title .input-button{background-color:#5CACEE;width:50px;font-family:'宋体'}
