@charset "utf-8";
/* CSS Document */
 body{font-size: 12px;width:980px;margin:0 auto; padding: 0 auto;}
.top{background:#EFEFEF;width:980px;height:79px;line-height:20px;margin:0 0 3px 0;}
/*文字*/
.link02{
font-size:14px;
color:#333333;
text-decoration:none;
line-height:40px;
vertical-align:middle;
margin:5px 0 0px 10px;
}
.link03{font-size:12px;color:#063667;text-decoration:none;line-height:20px;}
.link07 {font-size:13px;color:#333333;text-decoration:underline;line-height:21px;font-weight: bold;}
.link07:hover {font-size:13px;color:#333333;text-decoration:none;line-height:21px;font-weight: bold;}
.link08 {font-size:13px;color:#333333;line-height:21px;text-decoration:none;}
.link08:hover {font-size:13px;color:#333333;text-decoration:underline;line-height:21px;}
a.a7:link {font-size: 13px;color: #0c46a9;text-decoration: underline;}
a.a7:visited {font-size: 13px;color: #0c46a9;text-decoration:underline;}
a.a7:hover {font-size: 13px;color: #0c429a;text-decoration: none;}
a.a14:link{font-size:13px;color:#333333;text-decoration:none;line-height:25px;display: block;width: 45px;padding-left: 6px;}
a.a14:visited{font-size:13px;color:#333333;text-decoration:none;line-height:25px;display: block;width: 45px;
padding-left: 6px;}
a.a14:hover{font-size:13px;color:#333333;line-height:25px;background-color: #cccccc;display: block;width:45px;padding-left: 6px;}
ul{margin: 0px;padding: 0px;list-style-image: none;list-style-type: none;}
div,ul, li,dd, dl,dt {margin: 0;padding: 0;font-style: normal;}
.td02{ font-size:13px; color:#0c429a; font-weight:bold;}
.td21{ font-size:13px;line-height:20px;font-weight:bold;color:#2C2C2C;}
.td22{ color:#6B6B6B;font-size:12px; line-height:20px;}
.td011{ font-size:16px; color:#333333; font-weight:bold; line-height:31px;}
.td14{ font-size:13px; color:#0c429a;}
.txt05 {font-size: 13px;color: #CC0000;}
.td01{ font-size:12px; color:#333333;}
.content{ width:979px;}
#main{
	width: 979px;
	float: left;
	border: 1px solid #c2cfd8;
}
#div{
width:980px;
height:5px;}
/*按钮*/
.button {
cursor:pointer;
background:url(../../images/plat/login/add_02.gif) no-repeat;background-color:#FEF9FD;height:24px;font-size:13px;color:#333333;line-height:24px;
width:75px;
border:#000000 0px solid;}
.button01 {
cursor:pointer;
background:url(../../images/plat/login/add_01.gif) no-repeat;background-color:#FEF9FD;height:24px;font-size:13px;color:#333333;line-height:24px;
width:75px;
border:#000000 0px solid;}
.zc{
cursor:pointer;
background:url(../../images/plat/login/zc.gif) no-repeat;
width:125px;
height:35px;
margin:10px 0px 10px 30px;
color:#26659c;
font-size:16px;
font-weight:bold;
border:#000000 0px solid;
}

/*注册*/
.nav{margin-top:2px; padding-left:33px; padding-right:33px;
background:url(../../images/plat/login/bannb.gif) repeat-x;
height:31px;border:1px solid #A2BFDD;
line-height:31px;}
.subnavbg{ background:url(../../images/plat/login/register_10.gif) repeat-y; padding-left:15px; padding-right:15px;
line-height:31px;}
.subnavbg li{ font-size:13px; line-height:31px; color:#666666;}
.main{width:978px; float:left;border:1px solid #A2BFDD;}
.titlenav{border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #6b6b6b;margin-top:5px;
background-repeat:no-repeat;background-image: url(../../images/plat/login/inc57.gif);line-height:29px;padding:0 15px 0 50px;background-position: 33px 3px;
}
.titlenav1{border-bottom-width: 0px;border-bottom-style: dashed;border-bottom-color: #6b6b6b;margin-top:10px;
background-repeat:no-repeat;background-image: url(../../images/plat/login/inc.gif);background-position: 33px 3px;width:925px;float:left;padding-left: 50px; padding-bottom:3px;}
.conten{ padding:10px 0 0 80px; display:block; float:left; width:900px;}
.conten1{ padding:10px 0 0 80px; display:block; float:left; }
conten ul li { padding:0 0 10px 0;font-size:14px; color:#333333;line-height:18px; float:left;}
.contenselet{ width:92px; height:20px;}
.conten ul li { width:900px;padding:0 0 10px 0;font-size:14px; color:#333333;line-height:18px; float:left;}
.contenspan{ width:140px; float:left; text-align:right;font-size:12px; color:#6B6B6B;line-height:20px;}
.contenspanr02{ width:760px; font-size:13px; color:#333333;line-height:24px; float:left; text-align:left;}
.contenspan_left{width:550px; float:left;display:block;}
.contenspan_right{width:345px; padding:0 0 0 5px;float:right; text-align:left; display:block;}
.conten1{ padding:10px 0 0 200px; display:block; float:left; width:510px;}
.conten1 ul li {padding:0 0 8px 0;font-size:14px; color:#333333;line-height:20px;}
.yname{border:1px solid #dddddd;border-top-color:#7c7c7c;width:150px; height:20px;}
/*.mainxuxian{ border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #6b6b6b;
width:979px; float:left; height:1px;}*/
.sname1 {border:1px solid #dddddd;border-top-color:#7c7c7c; width:180px; height:20px; font-size:13px; line-height:24px; color:#999999;}
.sname2 {border:1px solid #dddddd;border-top-color:#7c7c7c;  width:60px; height:20px;font-size:13px; line-height:24px; color:#999999;}
.yname1{border:1px solid #dddddd;border-top-color:#7c7c7c;width:200px; height:100px;}

#foot{
margin:3px 0px 0px 0px;line-height:22px;width:980px;height:90px;
text-align:center;clear:both;
float:left;
padding-top:10px;
color: #333;
border:#c2cfd8 1px solid;}
#foot p
{
padding: 0px;
margin: 0px;
}
#foot a, #foot a:hover {color: #FFF;}

/*登录*/
#left{
width:400px;
float:left;
margin:5px 5px 10px 20px;
}
.lertlogin{
width:480px;
margin:10px 5px 0px 5px;
float:left;
background:url(../../images/plat/login/bannb_02.gif) no-repeat;
height:38px;
line-height:38px;
}
.lertlogin a {
	color: #000;
	display: block;
	float: left;
	border-right: 1px solid #c2cfd8;
	font: bold 14px sans-serif;
	line-height:30px;
	padding:5px 20px;
	text-decoration: none;
}
.lertlogin a:hover {color: #0099cc; text-decoration: underline;
margin:0px 0 0 0;
}
.lertloginmain{
width:478px;
margin:0px 5px 10px 5px;
float:left;
border: 1px solid #c2cfd8;
}
#right{
width:520px;
float:left;
margin:5px 15px 5 0px;
float:right;
}
.rightsx{
border-left:1px solid #c2cfd8;
margin:20px 3px 20px 5px;
height:400px;
width:1px;
float:left;
}
.titlenav2{border-bottom-width:0px;border-bottom-style: dashed;border-bottom-color:#6b6b6b;margin-top:20px;
background-repeat:no-repeat;background-image:url(../../images/plat/login/inc57.gif);background-position:20px 0px;width:350px;float:left;padding-left: 50px; padding-bottom:3px;}
.titlenav3{border-bottom-width: 0px;border-bottom-style: dashed;border-bottom-color:#6b6b6b;margin-top:50px;
background-repeat:no-repeat;background-position: 33px 3px;width:320px;float:left;padding-left:80px; padding-bottom:15px;}
.titlenav4{border-bottom-width: 0px;border-bottom-style: dashed;border-bottom-color: #6b6b6b;margin-top:20px;
background-repeat:no-repeat;background-position: 33px 3px;width:320px;float:left;padding-left:80px; padding-bottom:3px;}


.titlenav5{border-bottom-width:0px;border-bottom-style: dashed;border-bottom-color:#6b6b6b;margin-top:15px;
background-repeat:no-repeat;background-image:url(../../images/plat/login/pic_05.jpg);background-position:50px 0px;width:350px;float:left;padding-left:50px; padding-bottom:3px;
line-height:52px;
height:32px;}

.titlenav6{border-bottom-width:0px;border-bottom-style: dashed;border-bottom-color:#6b6b6b;margin-top:15px;
background-repeat:no-repeat;background-image:url(../../images/plat/login/pic_06.jpg);background-position:50px 0px;width:350px;float:left;padding-left:50px; padding-bottom:3px;
line-height:52px;
height:32px;}
.titlenav7{border-bottom-width:0px;border-bottom-style: dashed;border-bottom-color:#6b6b6b;margin-top:15px;
background-repeat:no-repeat;background-image:url(../../images/plat/login/pic_07.jpg);background-position:50px 0px;width:350px;float:left;padding-left:50px; padding-bottom:3px;
line-height:52px;
height:32px;}

.td23{ color:#ff7700;font-size:13px; line-height:20px;}
.td24{ color:#6B6B6B;font-size:13px; line-height:32px;
text-align:center;
margin:0px 0 0 50px;}
