.fl {
    float: left
}

.fr {
    float: right
}

header {
    background-color: #f74c30
}

header ul {
    padding: 0 .5rem
}

header ul li {
    float: left;
    height: 2.2rem;
    line-height: 2.2rem;
    font-size: .65rem;
    color: #fff
}

header ul li:first-of-type {
    width: 20%
}

header ul li:first-of-type img {
    width: .45rem
}

header ul li:nth-of-type(2) {
    width: 58%;
    text-align: center
}

header ul li:nth-of-type(3) {
    width: 20%;
    text-align: right
}

form .content>ul {
    border-bottom: .5rem solid #f4f4f4
}

form .content>ul li {
    padding: 0 .5rem;
    border-bottom: .025rem solid #f4f4f4;
    height: 2.2rem;
    line-height: 2.2rem;
    font-size: .6rem;
    color: #222
}

form .content>ul li>p {
    float: right
}

form .content>ul li div {
    height: 2.2rem;
    line-height: 2.2rem;
    display: flex;
    align-items: center;
    float: right
}

form .content>ul li div img {
    margin-left: .6rem;
    float: right;
    width: .35rem
}

form .content .div-box {
    padding-top: .5rem
}

form .content .div-box ul:first-of-type li {
    height: 1.73rem;
    line-height: 1.73rem
}

form .content .div-box ul:nth-of-type(2n) {
    background-color: #feedea
}

form .content .div-box ul:nth-of-type(2n) li:first-of-type section {
    background-color: #feedea
}

form .content .div-box ul {
    padding: 0 .5rem
}

form .content .div-box ul li {
    font-size: .6rem;
    color: #222;
    height: 1.4rem;
    line-height: 1.4rem;
    float: left;
    text-align: center;
    position: relative
}

form .content .div-box ul li p {
    float: right;
    height: 1.4rem;
    line-height: 1.4rem;
    display: flex;
    align-items: center
}

form .content .div-box ul li p img {
    width: .225rem
}

form .content .div-box ul li .p-yc img {
    width: .375rem
}

form .content .div-box ul li .zi {
    z-index: 9
}

form .content .div-box ul li section {
    background-color: #fff;
    text-align: left;
    float: left;
    width: 92.5%;
    height: auto;
    line-height: 1.4rem;
    position: absolute
}

form .content .div-box ul li section.yc {
    overflow: hidden;
    height: 1.4rem;
    line-height: 1.4rem
}

form .content .div-box ul li:first-of-type {
    width: 42%
}

form .content .div-box ul li:nth-of-type(2) {
    width: 12.8%
}

form .content .div-box ul li:nth-of-type(3) {
    width: 19%
}

form .content .div-box ul li:nth-of-type(4) {
    width: 24.5%
}

form .content .div-box ul li:nth-of-type(4).active {
    color: #f74c32
}

form .content>section {
    padding-top: 1.65rem;
    text-align: right
}

form .content>section p {
    float: right;
    text-align: center;
    margin-right: .4rem;
    width: 4.2rem;
    height: 1.423rem;
    line-height: 1.423rem;
    font-size: .6rem;
    color: #fff;
    background-color: #f74c32
}

form .content>section .p-tj {
    width: 3rem
}

.div-zx {
    display: none;
    z-index: 9999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3)
}

.div-zx .box {
    border-radius: .35rem;
    background-color: #fff;
    width: 70%;
    margin: 50% auto 0 auto
}

.div-zx .box>h4 {
    text-align: center;
    font-weight: 400;
    border-bottom: .025rem solid #f4f4f4;
    line-height: 2rem;
    font-size: .6rem;
    color: #222
}

.div-zx .box>ul li {
    padding: 0 1.25rem;
    border-bottom: .025rem solid #f4f4f4
}

.div-zx .box>ul li p {
    float: left;
    height: 2rem;
    line-height: 2rem;
    font-size: .55rem;
    color: #222
}

.div-zx .box>ul li p.active {
    color: #f74c32
}

.div-zx .box>ul li div {
    float: right;
    height: 2rem;
    line-height: 2rem;
    display: flex;
    align-items: center
}

.div-zx .box>ul li div img {
    float: right;
    width: .75rem
}

.div-zx .box>div {
    padding: 1rem 0 .5rem 0
}

.div-zx .box>div p {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    border-radius: .25rem;
    background-color: #f74c32;
    height: 1.65rem;
    line-height: 1.65rem;
    font-size: .6rem;
    color: #fff
}

.table-s {
    padding-top: .5rem
}
.table-s tr td:first-of-type{
    padding: 0.3rem 0;
    line-height: 0.8rem!important;
}
.table-s tr td:nth-of-type(2){
    padding: 0.3rem 0;
    line-height: 0.8rem!important;
}
.table-s tr td:nth-of-type(3){
    padding: 0.3rem 0;
    line-height: 0.8rem!important;
}
.table-s tr td {
    text-align: center;
    font-size: .6rem;
    color: #222;
    height: 1.4rem;
    line-height: 1.4rem;
    vertical-align: bottom;
}

.table-s tr td p {
    float: right;
    width: 20%;
    height: 1.4rem;
    line-height: 1.4rem;
    display: flex;
    align-items: center
}
.table-s tr:first-of-type td{
    font-weight: bold;
}
.table-s tr td p img {
    width: .225rem
}

.table-s tr td:first-of-type {
    width: 40%;
    padding: 0.3rem 0.3rem;
    line-height: 0.8rem;
}

.table-s tr td:nth-of-type(2) {
    width: 15%
}

.table-s tr td:nth-of-type(3) {
    width: 15%
}

.table-s tr td:nth-of-type(4) {
    width: 25%
}

.table-s tr .active {
    color: #f74c32
}

.table-s tr:nth-of-type(2n) {
    background-color: #feedea
}