/* CSS Document */
/*
#signDiv{
	width:50px;
	min-width:50px;
	width:auto;
	float:left;
	height:50px;
	min-height:50px;	
	height:auto !important;
	z-index:90;
	position: absolute;
}


#main{
	top: 10px;
	z-index: 30;
	position: absolute;	
}
*/
/*
#jqModelSearch{
	z-index: 120;
	position: fixed;
}
*/