.fl {
    float: left
}

.fr {
    float: right
}

header {
    background-color: #f74c32
}

header ul {
    padding: 0 .5rem
}

header ul li {
    float: left;
    height: 3rem;
    line-height: 3rem;
    font-size: 1rem;
    color: #fff
}

header ul li:first-of-type {
    width: 20%
}

header ul li:first-of-type img {
    width: .75rem
}

header ul li:nth-of-type(2) {
    width: 58%;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
}

header ul li:nth-of-type(3) {
    width: 20%;
    text-align: right
}
.con{
    display: flex;
    justify-content: center;
}

.btn{

    text-align: center;
    margin-top:5rem;
}
.row{
    margin-top: 2rem;
}

.row li{

    line-height: 3rem;
    height:3rem;
}

.row li input{
    border: 1px solid #999797;
    height: 1.6rem;
    line-height: 1.6rem;
    margin-left: 1rem;
    padding-left: 0.3rem;

}

.row .inp-hq{
    background: red;
    border: 1px solid red;
    color: #fff;
    height: 2rem;
    line-height: 2rem;
    width:6rem;
}
.btn button{
    background: red;
    border: 1px solid red;
    color: #fff;
    height: 2rem;
    line-height: 2rem;
    width: 5rem;
}

.div-tingyong {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4)
}

.div-tingyong .box {
    width: 21rem;
    margin: 30vh auto 0 auto
}

.div-tingyong .box>p {
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    background-color: #f74c32;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1rem;
    color: #fefefe;
    text-align: center;
    position: relative
}

.div-tingyong .box>p img {
    position: absolute;
    width: 1.5rem;
    top: -8%;
    right: -2%
}

.div-tingyong .box .div-box p {
    background-color: #fff;
    height: 5rem;
    line-height: 5rem;
    font-size: 1rem;
    color: #222;
    text-align: center;
    border-bottom: 0.025rem solid #eee;
}

.div-tingyong .box .div-box div p {
    background-color: #fff;
    width: 50%;
    height: 3rem;
    line-height: 3rem;
    font-size: 1rem;
    color: #222;
    text-align: center
}

.div-tingyong .box .div-box div p:nth-of-type(1) {
    border-bottom-left-radius: .3rem;
    color: #666;
    position: relative
}

.div-tingyong .box .div-box div p:nth-of-type(1):before {
    content: "";
    position: absolute;
    height: 100%;
    width: .025rem;
    right: .025rem;
    background-color: #eee
}

.div-tingyong .box .div-box div p:nth-of-type(2) {
    border-bottom-right-radius: .3rem
}

@media screen and (max-width: 800px) and (min-width:800px) {
    header ul li {
        float: left;
        height: 4rem;
        line-height: 4.5rem;
        font-size: 1.5rem;
        color: #fff;
    }
    .content {
        font-size: 1.8rem;
    }

    .row li input {
        border: 1px solid #999797;
        height: 2.2rem;
        line-height: 2.2rem;
        margin-left: 1rem;
        padding-left: 0.3rem;
        width: 12rem;
        font-size:1.2rem;
    }

    .row .inp-hq {
        background: red;
        border: 1px solid red;
        color: #fff;
        height: 2.2rem;
        line-height: 2.2rem;
        width: 8rem;
        font-size: 1.3rem;
    }

    .btn button {
        font-size: 1.3rem;
        background: red;
        border: 1px solid red;
        color: #fff;
        height: 2.3rem;
        line-height: 2.3rem;
        width: 6rem;
    }
    .row li {
        line-height: 4rem;
        height: 4rem;
    }

    .div-tingyong .box {
        width: 25rem;

    }
    .div-tingyong .box>p {

        font-size: 1.5rem;

    }

    .div-tingyong .box .div-box p {

        font-size: 1.5rem;

    }

    .div-tingyong .box .div-box div p {

        font-size: 1.5rem;

    }

}

