@charset "UTF-8";
/*公共样式*/
html, body {
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

body {
	margin: 0 auto;
	background-color: #eee;
	width: 100%;
	font-family: "微软雅黑";
}

html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form,
	input, select, button, textarea, iframe, table, th, td {
	margin: 0 0;
	padding: 0px 0px;
	font-size: 14px;
	color: #666;
	font-family: '宋体';
}

img {
	cursor: pointer;
	border: none;
}

ul, li, ol {
	list-style: none;
}

a, a:link {
	text-decoration: none;
}

a:active, a:hover {
	text-decoration: none;
}

a:focus {
	outline: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

ul, li {
	margin: 0;
}
/*公共样式*/

/*------------------------管理项目------------------------------*/
header {
	width: 100%;
	height: 50px;
	background: #FFFFFF;
	text-align: center;
	border-bottom: 1px solid #EEEEEE;
}

header p:first-child {
	float: left;
	line-height: 50px;
	margin: 0 10px;
	width: 20%;
	text-align: left;
}

header p img {
	vertical-align: middle;
	width: 20%;
}

header span {
	display:block;
	width:45%;
	height:50px;
	float:left;
	overflow:hidden;
	line-height: 50px;
	font-size: 20px;
}

header p:last-child {
	float: right;
	line-height: 50px;
	margin: 0 10px;
	width: 20%;
	text-align: right;
}

header p a {
	color: #666;
}

.list-group {
	margin-bottom: 0;
}

.list-group .list-group-item {
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #e3e3e3;
	overflow: hidden;
	margin-bottom: 0;
}
.proname{
	width:40%;
	height:20px;
	overflow:hidden;
}
.ppname{
	width:45%;
	height:20px;
	overflow:hidden;
}
.list-group .big_list {
	/*padding: 5px 0 5px 15px;*/
	padding-right: 0;
	padding-bottom: 5px;
}

.small_list .list-group-item:last-child {
	border-bottom: 0;
}

.img_div {
	width: 20%;
}

.list-group .small_list {
	width: 75%;
}

.list-group .small_list li {
	padding-left: 0;
	width: 100%;
	margin-left: 15px;
}

.bbtn {
	margin-left: 5px;
}

.bbtn img {
	width: 16px;
	margin: 0 5px;
}

.yusuan {
	color: #f74c31;
}

.img_div1 {
	width: 20%;
}

.img_div1 img {
	width: 30px;
}

.checkbox_kuang {
	position: relative;
	line-height: 61px;
	width: 60%;
	margin: 0 auto;
}

.checkbox_kuang span {
	font-size: 16px;
}

.checkbox_kuang label {
	position: absolute;
	top: 10px;
	right: 0;
}

.main {
	width: 100%;
}

.main_nthing {
	overflow: hidden;
	margin: 30px 0;
	height:131px;
}

.more {
	color: #ff4a00;
	border: 1px solid #ff4a00;
	margin: 0 auto;
	clear: both;
	width: 30%;
	text-align: center;
	line-height: 40px;
	border-radius: 7px;
	font-size: 16px;
	margin-top: 30px;
}

.morechan .small_list li {
	padding: 0;
}

input {
	outline: none;
	border: 0;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: #FFFFFF;
}

footer ul li {
	float: left;
	text-align: center;
	width: 33.33%;
	height: 100%;
	border-right: 1px solid #e3e3e3;
}

footer ul li:first-child {
	color: #F74C31;
}

footer ul li:first-child p {
	color: #F74C31;
}

footer ul li:last-child {
	background-color: #F74C31;
}
footer ul li:last-child p {
	color: #FFF;
}
footer ul li:last-child p:first-child {
	font-size: 14px;
}
footer ul li p {
	line-height: 25px;
}

footer ul li p:first-child {
	font-size: 20px;
}

footer .footer_div {
	float: right;
	margin-right: 15px;
}

footer .footer_div span {
	font-size: 18px;
	line-height: 50px;
	color: #FFFFFF;
}

footer .footer_div span:nth-child(2) {
	color: #FD8424;
	font-size: 25px;
}

@media screen and (min-width: 321px) {
	.checkbox_kuang {
		width: 50%;
	}
}

@media screen and (min-width: 376px) {
	.checkbox_kuang {
		width: 40%;
	}
}

.mui-switch {
	outline: none;
	width: 52px;
	height: 31px;
	position: relative;
	border: 1px solid #dfdfdf;
	background-color: #fdfdfd;
	box-shadow: #dfdfdf 0 0 0 0 inset;
	border-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-clip: content-box;
	display: inline-block;
	-webkit-appearance: none;
	user-select: none;
}

.mui-switch:before {
	content: '';
	width: 29px;
	height: 29px;
	position: absolute;
	top: 0px;
	left: 0;
	border-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.mui-switch:checked {
	border-color: #ff4a00;
	box-shadow: #64bd63 0 0 0 16px inset;
	background-color: #64bd63;
}

.mui-switch:checked:before {
	left: 21px;
}

.mui-switch.mui-switch-animbg {
	transition: background-color ease 0.4s;
}

.mui-switch.mui-switch-animbg:before {
	transition: left 0.3s;
}

.mui-switch.mui-switch-animbg:checked {
	box-shadow: #dfdfdf 0 0 0 0 inset;
	background-color: #ff4a00;
	transition: border-color 0.4s, background-color ease 0.4s;
}

.mui-switch.mui-switch-animbg:checked:before {
	transition: left 0.3s;
}

.mui-switch.mui-switch-anim {
	transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow
		cubic-bezier(0, 0, 0, 1) 0.4s;
}

.mui-switch.mui-switch-anim:before {
	transition: left 0.3s;
}

.mui-switch.mui-switch-anim:checked {
	box-shadow: #64bd63 0 0 0 16px inset;
	background-color: #64bd63;
	transition: border ease 0.4s, box-shadow ease 0.4s, background-color
		ease 1.2s;
}

.mui-switch.mui-switch-anim:checked:before {
	transition: left 0.3s;
}

/*# sourceMappingURL=mui-switch.css.map */
SCSS代码：
        @mixin borderRadius ($radius: 20px) {
	border-radius: $radius;
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
	border-bottom-left-radius: $radius;
	border-bottom-right-radius: $radius;
}

$
duration: .4s ;
        $checkedColor: #64bd63 ;
        .mui-switch {
	width: 52px;
	height: 31px;
	position: relative;
	border: 1px solid #dfdfdf;
	background-color: #fdfdfd;
	box-shadow: #dfdfdf 0 0 0 0 inset; @ include borderRadius();
	background-clip: content-box;
	display: inline-block;
	-webkit-appearance: none;
	user-select: none;
	outline: none; &: before { content : '';
	width: 29px;
	height: 29px;
	position: absolute;
	top: 0px;
	left: 0; @ include borderRadius();
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

&
:checked {
	border-color: $checkedColor;
	box-shadow: $checkedColor 0 0 0 16px inset;
	background-color: $checkedColor;
	&:
	before
	{
	left
	:
	21px;
}

}
&
.mui-switch-animbg {
	transition: background-color ease$duration;
	&:
	before
	{
	transition
	:
	left
	0.3s;
}

&
:checked {
	box-shadow: #dfdfdf 0 0 0 0 inset;
	background-color: $checkedColor;
	transition: border-color$duration, background-color ease$duration;
	&:
	before
	{
	transition
	:
	left
	0.3s;
}

}
}
&
.mui-switch-anim {
	transition: border cubic-bezier(0, 0, 0, 1)$duration, box-shadow
		cubic-bezier(0, 0, 0, 1)$duration;
	&:
	before
	{
	transition
	:
	left
	0.3s;
}

&
:checked {
	box-shadow: $checkedColor 0 0 0 16px inset;
	background-color: $checkedColor;
	transition: border ease$duration, box-shadow ease$duration,
		background-color ease$duration*3;
	&:
	before
	{
	transition
	:
	left
	0.3s;
}
}
}
}
/*--选择商品--*/
.res_top{
    background-color: #fff;
	width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 999;
    height: 45px;
    border-bottom: 1px solid #9e9e9e;
}
.res_top ul{
    line-height: 2.5;
    padding: 0 10px;
}
.res_top ul li{
    line-height: 45px;
    float: left;
    font-size: 16px;
    text-align: center;
    font-family:微软雅黑;
}
.res_top ul li:nth-child(1){
    width: 16%;
    text-align: left;
}
.res_top ul li:nth-child(1) a{

}
.res_top ul li:nth-child(2){
    width: 68%;

}
.res_top ul li:nth-child(3){
    width: 16%;
    font-size: 0.55rem;
}
.res_top ul li img{
    height: 30px;
    vertical-align:middle;
}
.res_bot{
	margin-top: 45px;
    position: absolute;
    width: 100%;
    height: 100%;
}
.search_shop{
    text-align: center;
    position: relative;
}
.search_shop input{
    width: 85%;
    border: none;
    font-size: 14px;
    text-align: left;
    padding: 5px 0;
    margin: 10px 0;
    text-indent: 1em;
}
.search_shop div{
    top: 17px;
    left: 43%;
}
.search_shop div img{
    width: 25px;
    vertical-align:middle;
}
.search_shop div p{
    font-size: 0.6rem;
    float: left;
}
.shop_lie{
    background-color: #fff;
}
.shop_grd{
    background-size: 1rem;
    height:85px;
}
.shop_grd2{
    background: url("../images/WFJClient/budget/gou2.png") 14rem  no-repeat;
    background-size: 1rem;
}
.shop_grd img{
    width: 25%;
    float: left;
    padding: 0.3rem;
}
.shop_txt{
    width: 60%;
    float: left;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #d3d3d3;
}
.shop_txt2{
    border: none;
}
.shop_txt p{
    width: 100%;
    font-size: 14px;
    padding: 0.5rem 0;
    font-family:微软雅黑;
}
.shop_txt p span{
    color: #ff6600;
    font-family:微软雅黑;
    font-size:16px;
}
.shop_img{
    width: 10%;
    float: left;
    margin-top: 1.8rem;
}
.shop_img img{
    width: 1.7rem;
    padding: 0 0 0 0;
}
.shop_img1{
    display: none;
}
.shop_img2{
    display: block;
}
.shop_img4{
    display: none;
}
.footer{
    position: fixed;
    background-color: #474747;
    width: 100%;
    bottom: 0;
}
.footer div{
    width: 65%;
    float: left;
}
.footer p{
    color: #C7C7C7;
    font-size: 0.7rem;
    padding: 0 1rem;
    line-height: 3.5;
    text-align: left;
}
.footer button{
    width: 35%;
    float: left;
    /* height: 100%; */
    background: #FCA937;
    border: none;
    font-size: 0.7rem;
    padding: 0 1rem;
    line-height: 3.5;
}
/*--选择商品结束--*/