@charset "utf-8";
/* CSS Document */

/*公共样式*/
html,body{
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
body{margin:0 auto; background-color: #f0f0f0;width:100%;}
html,body,div,p,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,button,textarea,iframe,table,th,td{margin:0 0; padding:0px 0px; font-size:12px; color:#666; font-family:'华文黑体';}
img{ cursor:pointer;border:none;}
ul,li,ol{ list-style: none;}
a,a:link { text-decoration: none; }
a:active,a:hover { text-decoration: none; }
a:focus{ outline: none; }
.left{float:left;}
.right{float:right;}
.wfj_width{ width:92%; margin:0 auto;}
.wfj_phwidth{ width:95%; margin:0 auto;}
.bgcolorFFF{ background-color:#FFF;}
/*公共样式*/

/*------------------------------------------------wfj12_001-----------------------------------------------*/
.wfj12_001 .wfj12_001_width{ width:92%; margin:0 auto;}

.wfj12_001{ width:100%;height:100%; min-width:320px; margin:0 auto; max-width:1080px; overflow:hidden;}
.wfj12_001 .wfj12_001_top{ width:100%; margin:0 auto; background-color:#FFF;}
.wfj12_001 .wfj12_001_top ul li{ float:left; text-align:center;}
.wfj12_001 .wfj12_001_top_search{  width:100%; margin:0 auto; border:1px solid #F1F1F1; border-radius:4px;}
.wfj12_001 .wfj12_001_top_search .wfj12_001_top_width{ clear:both; width:92%; margin:0 auto; border:1px solid #D4D4D4;}
.wfj12_001 .wfj12_001_top_search .wfj12_001_top_width ul li{ float:left;}
.wfj12_001 .wfj12_001_sort{ clear:both; float:left; width:100%; background-color:#FFF;}
.wfj12_001 .wfj12_001_sort ul li{ float:left; width:33.3333%; text-align:center; cursor:pointer;}


.wfj12_001 .wfj12_001_list{ clear:both; float:left;  width:100%;}
.wfj12_001 .wfj12_001_list table{ clear:both; float:left; background-color:#FFF; cursor:pointer;}
.wfj12_001 .wfj12_001_list table img{ vertical-align:middle;}
.wfj12_001 .wfj12_001_list table .wfj12_001_list_title{ color:#000;}

/*------------------------------------------------wfj12_001 end-----------------------------------------------*/


/*------------------------------------------------wfj12_003 start-----------------------------------------------*/
.wfj12_002 .wfj12_002_width{ width:94%; margin:0 auto;}

.wfj12_002{ width:100%;height:100%; min-width:320px; margin:0 auto; max-width:1080px; overflow:hidden;}
.wfj12_002 .wfj12_002_top{ width:100%; margin:0 auto; background-color:#F74C31;}
.wfj12_002 .wfj12_002_top ul li{ float:left; text-align:center;}
.wfj12_002 .wfj12_002_top_img{ width:95%; margin:0 auto;}
.wfj12_002 .wfj12_002_top_img img{ width:100%; height:auto;}
.wfj12_002 .wfj12_002_top_search{ width:100%; margin:0 auto;}
.wfj12_002 .wfj12_002_top_search .wfj12_002_top_width{ width:92%; margin:0 auto; border:1px solid #D4D4D4;}
.wfj12_002 .wfj12_002_top_search .wfj12_002_top_width ul li{ float:left;}
.wfj12_002 .wfj12_002_sort{ width:100%; margin:0 auto; background-color:#FFF; overflow:hidden;}
.wfj12_002 .wfj12_002_sort .wfj12_002_hidden{ width:100%;overflow:auto;}
.wfj12_002 .wfj12_002_sort .wfj12_002_hidden ul li{ float:left; text-align:center; cursor:pointer;overflow:auto;padding-left:3px;}
.wfj12_002 .wfj12_002_content{overflow:hidden;}
.wfj12_002 .wfj12_002_content .wfj12_002_con_hidden{ overflow:auto;}
.wfj12_002 .wfj12_002_content .wfj12_002_con_hidden .wfj12_002_pro{ width:49%; background-color:#FFF;}
.wfj12_002 .wfj12_002_content .wfj12_002_con_hidden .wfj12_002_pro ul{ width:100%;}
.wfj12_002 .wfj12_002_content .wfj12_002_con_hidden .wfj12_002_pro ul li img{ width:100%; height:auto;}

.wfj12_002 .wfj12_002_content .wfj12_002_comnav{ clear:both; float:left; width:100%; margin:0 auto; background-color:#EBEBEB;}
.wfj12_002 .wfj12_002_content .wfj12_002_comnav .wfj12_002_aboutus{}
.wfj12_002 .wfj12_002_content .wfj12_002_comnav .wfj12_002_aboutus ul li{ float:left; color:#000;}
.wfj12_002 .wfj12_002_content .wfj12_002_comnav .wfj12_002_aboutus ul li img{ vertical-align:middle; width:auto;}
.wfj12_002 .wfj12_002_content .wfj12_002_comnav .wfj12_002_static{ clear:both; width:100%; margin:0 auto;}
.wfj12_002 .wfj12_002_content .wfj12_002_comnav .wfj12_002_static span{ width:48%; float:left;}
.wfj12_002 .wfj12_002_content .wfj12_002_comnav .wfj12_002_static ul{ width:100%; float:left;}
.wfj12_002 .wfj12_002_content .wfj12_002_comnav .wfj12_002_static ul li{ clear:both; width:100%; text-align:center;}
.wfj12_002 .wfj12_002_content .wfj12_002_comnav .wfj12_002_static ul li img{ width:100%;}
.wfj12_002 .wfj12_002_content .wfj12_002_mainimg{ clear:both; float:left; width:100%; background-color:#FFF;}
.wfj12_002 .wfj12_002_content .wfj12_002_mainimg div{ width:50%; margin:0 auto;}
.wfj12_002 .wfj12_002_content .wfj12_002_mainimg div img{ width:100%;}
.wfj12_002 .wfj12_002_content .wfj12_002_com_bottom{ clear:both; float:left; width:100%; background-color:#EBEBEB;}
.wfj12_002 .wfj12_002_content .wfj12_002_com_bottom div{ width:70%; margin:0 auto;}
.wfj12_002 .wfj12_002_content .wfj12_002_com_bottom div ul li{ width:100%; text-align:center; text-indent:2em; line-height:20px;}




.wfj12_002 .wfj12_002_nav_hidden{ width:100%; position:relative; z-index:10;}
.wfj12_002 .wfj12_002_nav_hidden .wfj12_002_arrow{ width:10%; position:absolute; right:0;}
.wfj12_002 .wfj12_002_nav_hidden .wfj12_002_com{z-index:10; position:absolute; background-color:rgba(255,255,255,0.7);}
.wfj12_002 .wfj12_002_nav_hidden .wfj12_002_com ul li{ width:33.3333%; position:relative; text-align:center; float:left;}
.wfj12_002 .wfj12_002_nav_hidden .wfj12_002_com ul li a{ color:#000; position: relative;}


/*------------------------------------------------wfj12_002 end-----------------------------------------------*/


/*------------------------------------------------wfj11_013-----------------------------------------------*/
.wfj11_013 .wfj11_013_width{margin: 0 0.8rem 0 0.5rem;}
.wfj11_013 .wfj_top{ width:100%; margin:0 auto; background-color:#F74C31;}
.wfj11_013 .wfj_top ul li{ float:left; text-align:center; color:#FFF;}
.wfj11_013 .wfj_top ul li:first-of-type{    height: 2rem!important;
    line-height: 2rem!important;
    font-size: 0.8rem!important;
}
.wfj11_013 .wfj_top ul li p{ display:inline-block;}
.wfj11_013 .wfj_top ul li img{vertical-align:middle;}
.wfj11_013{ width:100%;height:100%; min-width:320px; margin:0 auto; max-width:1080px; overflow:hidden;}
.wfj11_013 .wfj11_013_top{ width:100%; margin:0 auto; background-color:#ffffff;}
.wfj11_013 .wfj11_013_top ul li{ float:left; text-align:center;}

.wfj11_013 .wfj11_013_top_img{ width:100%; height:auto; margin:0 auto; overflow:hidden; margin-bottom:5px;    position: relative;}
.wfj11_013 .wfj11_013_top_img img{  width: 100% !important ;height: 100% !important;object-fit: cover;}
.wfj11_013 .wfj11_013_details{ width:100%; height:auto; background-color:#FFF;}
.wfj11_013 .wfj11_013_details ul{ clear:both;width:100%; overflow: hidden;background: #fff;}
.wfj11_013 .wfj11_013_details ul li{ float:left;}
#num{height: 2rem;}
#num li:first-of-type{ font-size: 0.6rem!important; }
#num li{margin-top: 0.25rem!important;height: 0.8rem!important;line-height:0.8rem!important;}
#num li input{height: 0.8rem!important;line-height:0.8rem!important;}
.wfj11_013 .wfj11_013_details .biaojia {padding: 0.6rem 0;line-height: 0.8rem;}


.wfj11_013 .wfj11_013_details .wfj11_013_infor {padding: 0.3rem 0;line-height: 1rem;}
.wfj11_013 .wfj11_013_details .wfj11_013_infor .li-last{padding-right:0.5rem;}
.wfj11_013 .wfj11_013_details .wfj11_013_infor li {width: 33.333%;font-size: 0.5rem;color: #f74c31;}
.wfj11_013 .wfj11_013_details .wfj11_013_infor img {height: 0.7rem;width: auto;vertical-align: middle;padding-right: 0.05rem; margin-bottom: 0.1rem}

.wfj11_013 .wfj11_013_details .wfj11_013_details_name{ width:100%; color:#000; font-size:0.6rem;}
.wfj11_013 .wfj11_013_details .wfj11_013_peice{color:#F74C31; font-weight:bold;font-size: 0.8rem;height: 0.6rem;line-height: 0.6rem;}
.wfj11_013 .wfj11_013_details .wfj11_013_costprice{  text-decoration: line-through;font-size: 10px;padding: 0 10px;height: 20px;line-height: 20px;}

.wfj11_013 .wfj11_013_details .wfj11_013_dis{     background-color: #6F6F6F;color: #FFF;height: 15px;line-height: 15px;margin: 2.5px 0;}
.wfj11_013 .wfj11_013_details .wfj11_013_link{ width:100%; border-bottom:1px solid #DFDFDF;}
.wfj11_013 .wfj11_013_details .wfj11_013_link a{ background-color:#F74C31; color:#FFF;}
.wfj11_013 .wfj11_013_details .wfj11_013_del{width:10%; text-align:center; border:1px solid #A9A9A9;  border-right:none; cursor:pointer;}
.wfj11_013 .wfj11_013_details .wfj11_013_add{width:10%; text-align:center; border:1px solid #A9A9A9;  border-left:none; cursor:pointer;}
.wfj11_013 .wfj11_013_details .wfj11_013_input{width:15%;}
.wfj11_013 .wfj11_013_details .wfj11_013_input input{width:100%; text-align:center;}
.wfj11_013 .wfj11_013_referral{ width:100%; margin:10px auto; background-color:#FFF;}
.wfj11_013 .wfj11_013_referral ul li h2{ color:#F74C31;font-weight:bold;font-size:14px;}
.wfj11_013 .wfj11_013_referral ul{ clear:both;}
.wfj11_013 .wfj11_013_referral #iimg{ width:100%; height:auto;}
.wfj11_013 .wfj11_013_referral #small img{height:auto;}
.wfj11_013 .wfj11_013_referral #small li{ width:100%; height:auto;}


.wfj11_013_bottoms{ width:100%; max-width:1080px; background-color:#F9F9F9; position:fixed; bottom:0px; z-index:10; margin:0 auto;}

.wfj11_013_bottoms .kleft{ width:40%; border-top:1px solid #E1E1E1;  background-color:#F9F9F9;}
.wfj11_013_bottoms .kleft li{
	line-height: 21.5px!important;
}
.wfj11_013_bottoms .kleft li img{
	width: 0.9rem!important;
    height: 0.9rem!important;
}
.wfj11_013_bottoms .kleft li:nth-of-type(2) img{
	width: 1rem!important;
    height: 1rem!important;
    margin-bottom: -0.1rem!important;
}

.wfj11_013_bottoms ul,.wfj11_013_bottoms li{ float:left;}
.wfj11_013_bottoms #kleft li{ width:33.3333%; text-align:center;}
.wfj11_013_bottoms #kleft li img{ display:block; margin:0 auto;}
.wfj11_013_bottoms #kleft li p{ font-size:10px; color:#f74c31;}
.wfj11_013_bottoms #buy{ width:60%;}
.wfj11_013_bottoms #buy li{ width:50%; text-align:center;}
.wfj11_013_bottoms #buy li #shopcart{ width:100%; background-color:#F27C1C; color:#FFF; text-align:center; cursor:pointer;}
.wfj11_013_bottoms #buy li #buynow{ width:100%; background-color:#F74C31; color:#FFF; text-align:center; cursor:pointer;}

.wfj11_013_choose{ width:100%; height:auto; background-color:#FFF; margin:0.25rem auto;}
.wfj11_013_choose ul li{ float:left;}
/*促销产品*/
.wfj11_013_choose2 {width: 100%;background-color: #FFF;margin: 5px auto;position: relative;}
.sales_img{position: inherit;width: 27%;height: 6.5rem;float: left;}
.wfj11_013_choose2 .sales_img p{position: absolute;bottom: 0;width: 64.5%;background-color: #fff;opacity: 0.7;color: #F74C31;height: 22px;line-height: 20px;}
.wfj11_013_choose2 p {height: 1.4rem;line-height: 1.4rem;}
.wfj11_013_choose2 #cx{font-size:0.7rem;}
.wfj11_013_choose2 img {display: block;position: absolute;width: auto;top: 5px;right: 20px;}
.sales{margin: 0 27px 0 10px;}
.sales .jia{position: inherit;width: 5%;float: left;margin: 2.5rem 2% 0 2%;}
.sales div img{position: inherit;width: 100%;height: 6.5rem;}
.border1{width: 2.5rem;height: 2.5rem;border: 1px solid #BFBFBF;border-radius: 50%;position: absolute;left: 0;overflow: hidden;}
.border1 img{width: 100%;}
.shop_name{padding: 0 27px 0 10px;background-color: #FFF;margin: 5px auto;}
.shop_name_txt1{position: relative;height: 3rem;width: 100%;padding: 0.5rem 0;}
.shop_name_txt1 h3{position: absolute;top: 1.2rem;left: 4rem;font-size: 0.6rem;color: #000;}
.shop_name_txt2{position: relative;height: 4rem;padding: 0;}
.shop_name_txt2 p{font-size: 0.6rem;color: #000;}
.shop_name_txt2 h4{padding:0.4rem 0;font-size: 0.4rem}
.shop_name_txt2 .txt2_{width: 50%;position: absolute;text-align: center;padding: 10px 0;}
.shop_name_txt2 .txt2_2{width: 50%;position: absolute;text-align: center;right: 0;border-left: 1px solid #BFBFBF;padding: 0.25rem 0;}
.shop_btn{text-align: center;padding-bottom: 15px;}
.shop_btn input{font-size: 0.55rem; width:3rem;height: 1.2rem;background-color: #fff;border-radius: 0.05rem;border: 1px solid #FF7925;color: #FF7925;margin: 0 0.25rem;}
/*评论*/
.wfj11_013_comment{ background:#fff; overflow:hidden;border-bottom:1px solid #dfdfdf;}
.wfj11_013_comment  .com_head{ 
    font-size: 0.6rem; font-weight:normal; height:1.4rem; line-height:1.4rem; position:relative;}
.wfj11_013_comment  .com_head img{ height:20px; width:auto; display:inline-block; position:absolute; top:6px; right:0px;}
/*------------------------------------------------wfj11_013 end-----------------------------------------------*/

.wfj11_013_comment .con_title{ overflow:hidden;}
.wfj11_013_comment .con_title .title_icon_p{
    line-height: 50px;
    float: left;
}
.wfj11_013_comment .con_title .title_icon{ width:30px; height:30px; border-radius:50%; padding:0px 0; float:left; margin-right:10px; display:block;}
.wfj11_013_comment .con_title .title_name{ width:calc(100% - 40px); float:left; line-height:50px; color:#000;}
.wfj11_013_comment .con_con{ }
.wfj11_013_comment .con_con .con_text{ color:#5c5c5c; letter-spacing:1px; line-height:20px; margin-bottom:10px;}
.wfj11_013_comment .con_con .con_img{ overflow:hidden; margin-bottom:10px;}
.wfj11_013_comment .con_con .con_img li{ border:none; width:25%; float:left; margin:5px 0;}
.wfj11_013_comment .con_con .con_img li img{ width:65px; height:65px;}
/*查看更多*/
.wfj11_013_comment .com_foot input{ width:140px; height:25px; margin:5px auto; display:block; border:1px solid #eb4f38; border-radius:3px; background:#fff; color:#eb4f38;}

.013_ccgd p{ color:#eb4f38; text-align:center; margin:20px 0;}
/*------------------------------------------------wfj11_013 end-----------------------------------------------*/

/*------------------------------------------------wfj12_008-----------------------------------------------*/


.wfj12_008 .wfj12_008_width{ width:94%; margin:0 auto;}

.wfj12_008{ width:100%; height:100%; margin:0 auto; max-width:1080px; overflow:hidden;}
.wfj12_008 .wfj12_008_top{ background-color:#F74C31; overflow:hidden;}
.wfj12_008 .wfj12_008_top li{ float:left;}
.wfj12_008 .wfj12_008_top li img{ vertical-align:middle;}
.wfj12_008 .wfj12_008_top li,.wfj12_008_top li a{ color:#FFF;}

.wfj12_008 .wfj12_008_title{ width:100%; margin:0 auto; background-color:#F0F0F0;}
.wfj12_008 .wfj12_008_title ul li{ width:20%; text-align:center; float:left; cursor:pointer;}

.wfj12_008 .wfj12_008_content{ width:100%; margin:0 auto; overflow:hidden;}
.wfj12_008 .wfj12_008_content .wfj12_008_hidden{ width:100%; margin:0 auto; overflow:auto;}

.wfj12_008 #ch_sex{}
.wfj12_008 #ch_sex div{ width:70%; background-color:#F2F2F2;}
.wfj12_008 #ch_sex div ul li{ width:50%; text-align:center; cursor:pointer;}

.wfj12_008 .wfj12_008_filecard{ width:100%; height:35px; line-height:35px; background-color:#F2F2F2; cursor:pointer;}
.wfj12_008 .wfj12_008_filecard img{width:100%; height:auto; vertical-align:middle;}

.wfj12_008 .wfj12_008_filecard_sd{ width:100%; height:35px; line-height:35px; background-color:#F2F2F2; cursor:pointer;}
.wfj12_008 .wfj12_008_filecard_sd img{width:100%; height:auto; vertical-align:middle;}
.wfj12_008 .filecard_sd2{width:100%;}
.wfj12_008 .filecard_sd2 ul{ width:25%; float:left; text-align:center;}
.wfj12_008 .filecard_sd2 ul li{ float:left;}
.wfj12_008 .filecard_sd2 ul .right_top_img{}
.wfj12_008 .filecard_sd2 ul .right_top_img img{ position:relative;  z-index:10;}

.wfj12_008 .wfj12_008_music{ width:100%; height:35px; line-height:35px; background-color:#F2F2F2; cursor:pointer;}
.wfj12_008 .wfj12_008_music img{width:80%; height:auto; vertical-align:middle;}

/*商城信息*/
.wfj12_008 .wfj12_008_shop{ width:100%; margin:0 auto; background-color:#FFF; clear:both; float:left; text-align:center;}
.wfj12_008 .wfj12_008_shop .wfj12_008_position{ width:35%; margin:0 auto;}
.wfj12_008 .wfj12_008_shop .wfj12_008_position img{ width:70%; height:auto; padding-top:30px;}
.wfj12_008 .wfj12_008_shop .wfj12_008_position ul li{ width:100%; text-align:center; margin:0 auto;}
.wfj12_008 .wfj12_008_shop .wfj12_008_position ul li a{ color:#000;}
.wfj12_008 .wfj12_008_info{ width:100%; height:auto; clear:both; float:left; background-color:#FFF;}
.wfj12_008 .wfj12_008_info table{ width:100%; height:auto;}
.wfj12_008 .wfj12_008_info table #moreinfo{ width:100%; margin-top:30px;}
.wfj12_008 .wfj12_008_info table #moreinfo div{ width:100%; margin:0 auto; text-align:center; background-color:#8957A1; color:#FFF; cursor:pointer;}
.wfj12_008 .wfj12_008_info table td img{ width:60%; height:auto;}
.wfj12_008 .wfj12_008_info table td input{ border:none; width:100%; background-color:#F2F2F2;}
.wfj12_008 .wfj12_008_info table #addimg div{ width:100%; margin:0 auto;}
.wfj12_008 .wfj12_008_info table #addimg div ul{ clear:both; width:100%;}
.wfj12_008 .wfj12_008_info table #addimg div li{ float:left; width:33.3333%;}
.wfj12_008 .wfj12_008_info table #addimg div li img{ width:96%; height:auto; margin:0 auto;}
.wfj12_008 .wfj12_008_info table #mores_info div{ width:100%; margin:0 auto; text-align:center; background-color:#8957A1; color:#FFF; cursor:pointer;}


.wfj12_008 .filecard{ width:100%; margin:0 auto;}
.wfj12_008 .filecard div{ width:60%; margin:0 auto;}
.wfj12_008 .filecard li{ width:100%;}
.wfj12_008 .filecard li img{ width:100%; height:auto;}


.wfj12_008 .wfj12_008_bottom{ width:100%; position:fixed; bottom:0;}
.wfj12_008 .wfj12_008_bottom div{ width:50%; margin:0 auto; background-color:#F74C31; text-align:center;cursor:pointer; color:#FFF;}



/*------------------------------------------------wfj12_008 end-----------------------------------------------*/
/*选择规格*/
/*.wfj11_013_bottoms{ display:none;}*/
.box{ width:100%; height:100%; display:none;}
.cover{ width:100%; opacity:0.7; height:20%; position:fixed; background-color:#000; top:0; left:0;    z-index: 2;}
.choose_size{ font-size:14px; top:20%; background-color:#fff; position:fixed; left:0; right:0; bottom:0;    z-index: 3;}


.summary{ padding:10px; height:78px; position:relative; top:0; left:0; width:100%; box-shadow:0 1px 0 #e5e5e5; float:left;}
.summary .img{ position:relative; top:-32px; background:#fff; z-index:10; padding:2px; border:1px solid #ddd; border-radius:4px; float:left; margin-right:13px; height:100px; width:100px; }
.summary .img img{ max-width:100%; max-height:100%;height:100%;width:100%; display:block; border-radius:4px;}

.main .pricer{ display:inline-block; vertical-align:middle;  color:#dd2727; height:18px; line-height:18px; font-size:18px; padding:0 10px 0 0;}

.stock{ font-size:14px; margin-top:3px; color:#000;}
.stock label{ margin-right:5px;}
.sback{ position: absolute; width:24px; height:28px; display:block; top:5px; right:5px; border:0;}
.sback img{ width:100%; height:100%;}

.choose_con{ position:relative; float:left; top:10px; width:calc(100% + 17px); height:calc(100% - 150px); overflow:auto;}
.con_control{ margin:10 4% 20 4%;}

.con_control ul li{ padding:5px 3px;}
h2{ color:#666; margin-bottom:15px; font-weight:500; font-size:16px;}
.con_control ul li .items label{ background:#e4e4e4; padding:10px 15px; margin:0 15px 15px 0;  text-align:center; box-sizing:border-box; border-radius:10px; font-size:14px; display:inline-block; color:#000;}

#shuliang{ margin-bottom:20px;}
.number button,.number h5{ background:#e4e4e4; width:35px; height:35px; line-height:35px; text-align:center; box-sizing:border-box; border-radius:30px; font-size:36px; border:0; display:inline-block; vertical-align:middle;}
.number h5{ background-color:#bfbfbf; color:#fff; font-size:18px; margin:0 10px; font-weight:normal;}


.bottom_button1{ text-align:center; width:100%; position:fixed; bottom:-1px; left:0;}
.bottom_button1 button{ height:50px; border:0; font-size:15px; color:#fff; display:block; float:left; width:50%; letter-spacing:2px;}

.jrl{background-color:#F27C1C;}
.cart{ background:#f27c1c;}
.buy{ background:#f74c31;}

.bottom_button2{ text-align:center; width:100%; position:fixed; bottom:-1px; left:0; height:50px; display:none;}
.bottom_button2 button{ height:50px; border:0; font-size:18px; color:#fff; display:block; float:left; width:100%; letter-spacing:10px;  background:#f74c31;}
.clear{clear:both;}
*----------------------------
/*
calc(% + numpx)
*//*
.top{ width:100%; margin:0 auto; background-color:#F74C31; color:#fff; height:7%;}
.top ul li{ float:left; text-align:center; color:#FFF; font-size:16px;}
.top ul li img{vertical-align:middle;}
013  评论*/
.comment{ background:#ebebeb;}
.comment .top{ background:#f9f9f9; position:relative;  width:100%; margin:0 auto; background-color:#F74C31; color:#fff; height:7%;}
.comment .top li{ width:15%; height:100%; float:left; text-align:center;}
.comment .top .top_text{ width:70%; color:#fff; font-size:16px;}
.comment .top li img{ height:20px; vertical-align:middle;}
.comment article{ width:100%; overflow:auto;}
.comment .com_nav{ border-bottom:1px solid #ebebeb; background:#fff; padding:0 3%;}
.comment .com_nav li{ width:20%; float:left; text-align:center; padding:20px 0;color:#7a7a7a;}
.comment .com_nav .xz h5,.comment .com_nav .xz p{ color:#f74c31}
.comment .com_nav li h5,.comment .com_nav li p{  font-size:12px; font-weight:normal; height:20px; line-height:20px;}
/*内容*/
.comment .com_con{ overflow:hidden; width:100%;}
.comment .com_con li{ width:100%; border:1px solid #ebebeb; background:#fff;}
.comment .com_con li .con_title{ padding:6px 3%; overflow:hidden;vertical-align: middle;}
.comment .com_con li .con_title .title_icon{ width:30px;height:30px;border-radius:50%;float:left; margin-right:10px; display:block;}
.comment .com_con li .con_title .title_name{ width:calc(100% - 40px); float:left; height:30px; line-height:30px; color:#000;}
.comment .com_con li .con_con{ padding:0px 3%;}
.comment .com_con li .con_con .con_text{ color:#5c5c5c; letter-spacing:1px; line-height:20px; margin-bottom:10px;}
.comment .com_con li .con_con .con_img{ overflow:hidden; margin-bottom:10px;}
.comment .com_con li .con_con .con_img li{ border:none; width:25%; float:left; margin:5px 0;}
.comment .com_con li .con_con .con_img li img{ width:65px; height:65px;}

.wfj_013_cpcs {
    font-size: 0.4rem;
	background: #f98811;
	height: 1.2rem;
    line-height: 1.2rem;
	color: #fff;
	margin-bottom:0.05rem;
}

.wfj_013_cpcs img {
	width: 0.5rem;
	height: 0.5rem;
	margin: 0.15rem 0.3rem;
	vertical-align: middle;
}

/*8.25*/
#cu{
	font-size: 0.8rem;
    color: #ff6666;
    margin: 0 0.45rem;
}
/*--lx 2016.10.26--*/

.alert_new_{
    width: 100%;
    opacity: 0.3;
    height: 100%;
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    z-index: 15;
    display: none;
}
.alert_new{
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    z-index: 15;
    background: #fff;
    display: none;
}
.alert_new .top h5{
    text-align: center;
    font-size: 16px;
    padding: 15px 0;
    position: relative;
}
.alert_new .top h5 #close {
    width: 20px;
    position: absolute;
    right: 15px;
    z-index: 999;
}
.shop_new .mil{
    overflow: hidden;
    height: 95px;
    padding: 10px 0 0 0;
}
.shop_new .mil .left {
    width: 15%;
    height: 55px;
    position: relative;
}
.shop_new .mil .left i {
    display: inline-block;
  	width: 16px;
    height: 16px;
    background: url("../../images/WFJClient/Newjspim/gou2_new.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40%;
    margin-top: 8px;
}
.shop_new .mil .left .gou{
    background: url("../../images/WFJClient/Newjspim/gou2.png") no-repeat;
    background-size: 100%;
}
.shop_new .mil .right{
    width: 85%;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
        padding-bottom: 13px;
}
.shop_new .mil .right .tu{
        width: 70px;
    height: 70px;
    float: left;
    border: 1px solid #ddd;
}
.shop_new .mil .right .tu img{
    width: 100%;
    height: 100%;
}
.shop_new .mil .right .txt{
    width: 65%;
    float: left;
}
.shop_new .mil .right .txt p{
    font-size: 16px;
    padding: 5px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.shop_new .mil .right .right{
    width: 15%;
    height: 50px;
    position: relative;
    border: none;
}
.shop_new .mil .right .right img{
    width: 10px;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 35%;
}
.box2 .choose_size2 {
    font-size: 14px;
    top: 45%;
    z-index: 20000;
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.box2 .summary2 .stock p {
    color: #AEAEAE;
    font-size: 14px;
}
.box2 .summary2 .main .pricer {
    color: #FF6507;
    font-size: 16px;
    font-weight: 700;
}
.box2 .summary2 .main .pricer span {
    color: #3C3C3C;
    font-size: 13px;
    font-weight: 500;
}
.choose_con .con_control2 ul li h2 {
    font-size: 13px;
}
.choose_con .con_control2 ul li .items label {
    background: #fff;
    width: 40%;
    height: 28px;
    line-height: 28px;
    margin: 15px 7px 10px 0;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    font-size: 13px;
    display: inline-block;
    color: #737373;
    padding: 0;
    cursor:pointer;
}
.choose_con .con_control2 ul #yanse .items label {
    background: #fff;
    width: 75px;
    height: 26px;
    line-height: 26px;
    margin: 15px 7px 10px 0;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    font-size: 13px;
    display: inline-block;
    color: #737373;
    cursor:pointer;
}
.choose_size2 .bottom_button2 {
    text-align: center;
    width: 220px;
    position: fixed;
    bottom: 10px;
    left: 50%;
    margin-left: -110px;
    height: 35px;
    display: none;
}
.choose_size2 .bottom_button2 button {
    border-radius: 5px;
    background: #FF6507;
    height: 35px;
    line-height: 35px;
    border: 0;
    font-size: 18px;
    letter-spacing: 1px;
}
.box2 .summary2 .sback {
    position: absolute;
    width: 25px;
    height: 25px;
    display: block;
    top: 30px;
    right: 15px;
    border: 0;
    z-index: 999;
    background-color: #fff;
}

.box2 .summary2 .img {
    position: relative;
    top: 0;
    background: #fff;
    z-index: 10;
    padding: 2px;
    border: 1px solid #ddd;
    border-radius: 4px;
    float: left;
    margin-right: 13px;
    height: 70px;
    width: 70px;
}
.cxqr{
	display: block;
   	width:100%;
    bottom: 0;
     position: fixed;
    width: 100%;
    z-index: 1;
    background: #fff;
    padding-top: 5px;
}
.top{
	    position: fixed;
    width: 100%;
    z-index: 1;
    background: #fff;
}
.shop_new .mil .right .txt .sp {
    padding: 0 10px;
   
}

/* 2016.11.4 */
#btn_btn{
    width: 220px;
    height: 35px;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

/*2019.2.25促销、vip、特价改*/
.wfj11_013_top_img span{
    position: absolute;
    background-color: transparent;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 6rem;
    height: 6rem;
    z-index: 1;
}
.wfj11_013_top_img span i{
    display: block;
    width: 6rem;
    height: 6rem;
    margin-left: -3rem;
    margin-top: -3rem;
    transform: rotate(45deg);
    background: #f7c246;
}
.wfj11_013_top_img span::after {
    position: absolute;
    font-size: 1.3rem;
    color: #fff;
    transform: rotate(-45deg);
    top: 0.75rem;
}
.wfj11_013_top_img span.cx::after {
    content: "促销";
}
.wfj11_013_top_img span.vip::after {
    content: "vip";
    left: .06rem;
}
.wfj11_013_top_img span.tj::after {
    content: "特价";
}

.summary .img span{
    position: absolute;
    background-color: transparent;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 4rem;
    height: 4rem;
}
.summary .img span i{
    display: block;
    width: 4rem;
    height: 4rem;
    margin-left: -2rem;
    margin-top: -2rem;
    transform: rotate(45deg);
    background: #f7c246;
}
.summary .img span::after {
    position: absolute;
    font-size: 0.6rem;
    color: #fff;
    transform: rotate(-45deg);
    top: 0.25rem;
}
.summary .img span.cx::after {
    content: "促销";
}
.summary .img span.vip::after {
    content: "vip";
    left: .06rem;
}
.summary .img span.tj::after {
    content: "特价";
}

/*已加入购物车弹框 */
#btn_gwc{
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    display: none;
}
#btn_gwc p{
    margin:73vh auto 0 auto;
    width: 60%;
    background: rgba(0,0,0,0.5);
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    font-size: 0.8rem;
    color: #fff;
}