@CHARSET "UTF-8";
/* CSS Document */


html,body{overflow:hidden;}
/*-----------头部 ---------------*/
.top{ width:100%; margin:0 auto; background-color:#fff; color:#fff; border-bottom:1px #eee solid;}
.top ul li{ float:left; text-align:center; color:#4b4b4b;font-weight:500;}
.top ul li img{vertical-align:middle;}
.top ul .top_hidden{ visibility:hidden;}
#search img{height: 1rem!important;}
/*-----------底部 ---------------*/
.footer{ position:fixed; bottom:-1px;
	/*left:0;*/
	width:100%;}
.footer li{ width:50%; float:left; text-align:center; color:#fff; font-size:14px; letter-spacing:2px; position:relative; height:100%;}
.footer li button{ width:100%; height:100%; display:block; position:absolute; opacity:0; top:0; left:0;}
.footer .foot_g{ background:#63bdc5;}
.footer .foot_r{ background:#fb5e1e;}
.footer li img{ width:25px; vertical-align: middle; display:inline-block; margin-right:8px;}
/*-----------内容 ---------------*/
article{ overflow:auto;}
.product_describe .con{ width:100%; overflow:hidden; color:#000; border:none; margin-top:20px; height:80px;}
/*----------------产品规格---------*/
.product_size article{ margin:0;}
.product_size section{ border-top:1px solid #f0f0f0; padding:0 4%;}
.product_size ul{ width:100%; overflow:hidden;}
.product_size input{ border-radius:3px; height:30px; text-align:center; box-sizing:border-box; border:1px solid #d9d9d9; color:#656565; width:110px; margin:8px 0; display:inline-block;}
.product_size .sezi_title{ color:#fff; background:#fc8859; margin:10px 0; border:none; display:block;}
.product_size .size_new li{ position:relative; width:50%; float:left;}
.product_size .size_new li input{ width:90%; border:1px solid #fc8859; color:#fc8859;}
.product_size .size_new li .size_del{ position: absolute; width:18px; height:18px; top:0; right:calc( 10% - 9px); display:block;}
@media only screen and (min-width:480px){
	.product_size .size_new li input{ width:180px;}
	.product_size .size_new li .size_del{ left:171px;}
	}

.product_size .size_new li .seze_edit{ background:#e6e6e6; border:none; width:110px; color:#656565;}
.product_size .size_old{ margin-bottom:30px;}
.product_size .size_old li{ width:33.33%; float:left;}
.product_size .size_old li input{ width:95%; max-width:150px;}
.product_size .size_old .input_xz{ border:1px solid #fc8859}
/*-------产品描述------*/
.product_describe article{width:99%;margin:0 auto;}
.product_describe article div{margin:0 auto;}
.product_describe .editable{
	border-right: #999999 1px solid; padding-right: 3px; border-top: #999999 1px solid; overflow-y: auto;
	padding-left: 3px; font-weight:normal;font-size:16px;overflow-x: hidden; padding-bottom: 3px; 
	border-left: #999999 1px solid;color: #000066; word-break: break-all; padding-top: 3px; 
	border-bottom: #999999 1px solid; font-style: normal; font-family: simsun; 
}
 *:focus {
             outline: none;
        }
.product_describe .editablesmall {
	padding-right: 3px; overflow-y: auto;
	padding-left: 3px; font-weight:normal;font-size:16px;overflow-x: hidden; padding-bottom: 3px; 
	word-break: break-all; padding-top: 3px; 
	font-style: normal; font-family: simsun; 
}
.alert123{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	top: 0;
	position: absolute;
	display: none;
}

.alert_search{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	top: 0;
	position: fixed;
	z-index: 9;
	display: none;
}
.alert_search .top{
	border-bottom: 1px solid #ddd;
	background: #fff;
}
.alert_search input{
	width: 80%;
	margin: 2.5% 2.5%;
	height: 1.5rem;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 0.7rem;
	text-indent: 2.3em;
}
.alert_search .top .sousuo{
	background: url(../../images/ea/finance/NewPhoneOrders/search.png) 1em 50% no-repeat !important;
	background-size: 0.7rem !important;
}
.alert_search .top p{
	width: 13%;
	float: right;
	line-height: 1.5rem;
	margin: 2.5% 0;
	font-size: 0.7rem;
}
.alert_search .top #ss{
	width: 12.5%;
	margin: 2.5% 2.5% 2.5% 0;
	height: 1.5rem;
	border: none;
	background: #fff;
	border-radius: 5px;
	font-size: 0.7rem;
	text-indent: 0;
	float: right;
	display: none;
}
.alert_search .top #qx{
	width: 12.5%;
	margin: 2.5% 2.5% 2.5% 0;
	height: 1.5rem;
	border: none;
	background: #fff;
	border-radius: 5px;
	font-size: 0.7rem;
	text-indent: 0;
	float: right;

}

.div-paytype {
	display: none;
	z-index: 9;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	background-color: #fff;
}
.div-paytype .div-box .paytype-header > ul {
	padding: 0 0.5rem;
}
.div-paytype .div-box .paytype-header > ul li {
	float: left;
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: 0.8rem;
	color: #000000;
}
.div-paytype .div-box .paytype-header > ul li:first-of-type {
	width: 20%;
}
.div-paytype .div-box .paytype-header > ul li:first-of-type img {
	width: 0.45rem;
}
.div-paytype .div-box .paytype-header > ul li:nth-of-type(2) {
	width: 58%;
	text-align: center;
}
.div-paytype .div-box .paytype-header > ul li:nth-of-type(3) {
	width: 20%;
	text-align: right;
	font-size: 0.6rem;
}
.div-paytype .div-box .paytype-header > ul li:nth-of-type(3) img {
	width: 0.75rem;
}
.div-paytype .div-box .div-con .ul-left {
	height: 92vh;
	padding-top: 0.5rem;
	width: 45%;
	overflow-y: scroll;
	background-color: #f8f8f8;
	float: left;
}
.div-paytype .div-box .div-con .ul-left li {
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-left: 0.6rem;
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: 0.7rem;
	color: #3d3d3d;
	background-color: #f8f8f8;
}
.div-paytype .div-box .div-con .ul-left li.active {
	color: #fb5858;
	background-color: #fff;
}
.div-paytype .div-box .div-con .div-right {
	float: left;
	width: 54.5%;
}
.div-paytype .div-box .div-con .div-right > ul {
	width: 100%;
}
.div-paytype .div-box .div-con .div-right > ul li {
	padding-left: 0.65rem;
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: 0.7rem;
	color: #000000;
}
.div-paytype .div-box .div-con .div-right > ul li.active {
	color: #fb5858;
}

@media (min-width: 960px) {

	.footer {
		width: 60%;
	}
	.top{
		border: none!important;
		height: 5rem!important;
		line-height: 5rem!important;
	}

}
.sizereturn img{
	height: 0.8rem!important;
}