@charset "utf-8";
/*--公共样式--*/
*{
    margin: 0;
    padding: 0;
}
html,body{

}
body{
    font-family:"microsoft yahei";


}

@media (min-width: 960px) {
    body{

        margin: 0 25%;
    }


}
img{ cursor:pointer;border:none;}
ul,li,ol{ list-style: none;}
a,a:link { text-decoration: none; color: #666;-webkit-tap-highlight-color:transparent}
a:active,a:hover { text-decoration: none; }
a:focus{ outline: none; }
input{
    -webkit-tap-highlight-color:transparent;
    outline: none;
}
::-webkit-scrollbar {
    width: 0;
}
/*--公共样式 end--*/


/*--选择登录注册--*/
.header{
    height: 2.2rem!important;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}
.header ul{
    height: 2.2rem!important;
    overflow: hidden;
}
.header ul li{
    height: 2.2rem!important;
    line-height: 2.2rem!important;
    float: left;
    font-size: 0.7rem;
    text-align: center;
}
.header ul li:nth-child(1){
    position: relative;
}
.header ul li:nth-child(1) a{
    position: absolute;
    top: 32%;
}
.header ul li:nth-child(1) img{
    width: 0.5rem;
    vertical-align: middle;
}
.content{
    overflow: auto;
}
.content .banner{
    position: relative;
    padding-top: 0;
}
.content .banner .text{
    width: 70%;
    position: absolute;
    padding-top: 0;
    top: 0.7rem;
    right: 0.2rem;
    text-align: left;
}
.content .banner .text h1{
    font-size: 0.8rem;
}
.content .banner .text p{
    font-size: 0.55rem;
    padding-left: 3em;
    color: #ff6600;
    font-weight: 600;
}
.content div{
    text-align: center;
    padding-top: 3rem;
}
.content div input{
    width: 70%;
    font-size: 0.7rem;
    color: #fff;
    border: none;
    /*line-height: 1.8rem;*/
    /*height: 1.8rem;*/
    margin: 0.5rem 0;
    -webkit-appearance: none;
}
.content div a:nth-child(1) input{
    background: #f15e47;
}
.content div a:nth-child(2) input{
    background: #4a74b4;
}
.deng input{
	line-height: 1.7rem;
	border-radius: 3px;
}
/*--选择登录注册 end--*/


/*--登录--*/
.content .login_text h2{
    color: #f74c31;
    font-size: 1rem;
}
.content .login_text p{
    font-size: 0.8rem;
    color: #806767;
    font-weight: 600;
}
.content form{
    text-align: center;
    margin-top: 1.5rem;
}
.content form input{
    width: 85%;
    font-size: 0.7rem;
    border: 1px solid #ddd;
    /*line-height: 1.7rem;*/
    /*height: 0.7rem;*/
    padding: 0.5rem 0;
    border-radius: 3px;
    text-indent: 1em;
    outline: none;
    margin: 0 0 0.5rem 0;
    -webkit-appearance: none;
}
.content form #zc{
    width: 30%;
    height: 1.7rem;
    line-height: 1.7rem;
    text-indent: 0;
    background: #e8e8e8;
    color: #000;
    border: none;
    padding: 0;
}
.content form #dl{
    width: 53%;
    height: 1.7rem;
    line-height: 1.7rem;
    text-indent: 0;
    color: #fff;
    background: #f15e47;
    border: none;
    padding: 0;
}
.content form p{
    text-align: right;
    width: 85%;
    font-size: 0.6rem;
    margin: 0 auto;
    color: #9b9b9b;
}
/*--登录 end--*/

/*--注册--*/
.content .reg_text{
    padding-top: 1.5rem;
}
.content form #zc2{
    width: 85%;
    height: 1.7rem;
    line-height: 1.7rem;
    padding: 0;
    text-indent: 0;
    background: #4a74b4;
    color: #fff;
    border: none;
}
.content form .yzm{
    width: 85%;
    margin: 0 auto;
    padding-top: 0;
    overflow: hidden;
}
.content form .yzm input{
    width: 50%;
    float: left;
    color: #000;
}
.content form .yzm .huoquyzm{
    width: 45%;
    height: 1.7rem;
    float: right;
    background: #f15e47;
    border: 1px solid #f15e47;
    color: #fff;
    text-indent: 0;
	line-height: 1;
}

/*2016.10.26*/
#download{
    padding-top: 0;
    width: 8rem;
    overflow: hidden;
    float: right;
    margin-right: 7.5%;
    margin-top: 1rem;
}
#download{
    font-size: 0.6rem;
}
#download p{
    float: left;
    line-height: 0.85rem;
}
#download img{
    width: 0.85rem;
    float: right;
}

/*2016.10.27*/
#download{
    width: 85%;
    font-size: 0.7rem;
    text-indent: 0;
    background: #ff6600;
    color: #fff;
    border: none;
    border-radius: 3px;
    line-height: 1.7rem;
    height: 1.7rem;
    outline: none;
    margin: 0 7.5%;
    -webkit-appearance: none;
}


/*2016.11.18*/
.content .ipt{
    width: 85%;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin: 0 auto 0.5rem auto;
    font-size: 0;
    padding: .5rem 0;
    overflow: hidden;
}
.content .ipt input{
    width: 100%;
    color: #000;
    padding: 0;
    margin: 0;
    font-size: 0.7rem;
    border: none;
    height: .7rem;
    line-height: .7rem;
}
.content form .ipt_right #code{
    width: 20%;
    padding-top: 0;
    overflow: hidden;
    float: left;
    background-image: url("../../images/WFJClient/Login/bottom.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: .5rem;
}
.content form .ipt_right #code input{
    width: 80%;
    font-size: 0.65rem;
    text-indent: 0;
    margin: 0;
    float: left;
    height: .7rem;
    line-height: .7rem;
    text-align: center;
    color: #000;
    background: #fff;
}
.content form .ipt_right h5 p{
    width: 80%;
    margin: 0;
    color: #000;
    font-weight: 500;
    text-align: center;
}
.content form .ipt_right input{
    width: 80%;
    float: right;
}
.content form .yzm .ipt{
    width: 50%;
    float: left;
}
.content form .yzm .ipt input{
    width: 100%;
    float: left;
    color: #000;
    font-size: 0.7rem;
}
.content form .yzm .ipt2{
    width: 45%;
    float: right;
    padding: 0;
}
.content form .yzm .ipt2 input{
    color: #fff;
}

.alert {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}
.alert_zi{
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    display: none;
}
.alert_zi p{
	line-height: 1.5rem;
	background: rgba(0, 0, 0, 0.5);;
	color: #fff;
	font-size: 0.7rem;
	padding: 0 0.5rem;
	border-radius: 3px;
}

/*--注册 end--*/

/*--选择国家和地区--*/
.body2{
    width: 100%;
    position: absolute;
    top: 0;
}
.body2 .content .mil h5{
    line-height: 1.5rem;
    font-size: 0.65rem;
    font-weight: 500;
    padding: 0 0.5rem;
    background: #F5F5F5;
}
.body2 .content .mil{
    background: #fff;
    font-size: 0.65rem;

}
.body2 .content .mil li{
    margin: 0 0.5rem;
    line-height: 2rem;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}
.body2 .content .mil li .number{
    float: right;
}
#code_search{
    outline: none;
    overflow: hidden;
    padding-top: 0;
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
    background: #fff;
    border-top: 1px solid #ddd;
}
#code_search .sousuo{
    width: 80%;
    float: left;
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 1.2rem;
    line-height: 1.2rem;
    margin: 0;
    margin-left: 5%;
    padding: 0;
    text-indent: 2em;
    font-size: 0;
    background: url("../images/ico-search.png") 2% 50% no-repeat;
    background-size: 0.7rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
#code_search .sousuo input{
    width: 80%;
    color: #000;
    height: 0.7rem;
    line-height: 0.7rem;
    font-size: 0.6rem;
    margin: 0.27rem;
}
#code_search .sou{
    width: 12%;
    margin: 0;
    float: right;
    background: #fff;
    color: #000;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
/*--选择国家和地区 end--*/

/*--下载更多--*/
.header2{
    border: none;
    background: url("../../images/WFJClient/Login/banner4.png") no-repeat;
    background-size: 100%;
}
.content .con_banner{

}
.content .con{
    padding: 0;
}
.content .con .con_txt{
    padding-top: 0;
}
.content .con .con_txt h1{
    font-size: 0.7rem;
    color: #ee3f4c;
}
.content .con .con_txt p{
    font-size: 0.6rem;
    color: #a3a3a3;
    padding-top: 0.5rem;
}
.content .con .mil{
    padding-top: 2rem;
}
.content .con .mil span{
    font-size: 0.7rem;
    color: #ee3f4c;
}
.content .con .btn{
    width: 100%;
    margin: 0 auto;
    padding-top: 1.5rem;
    overflow: hidden;
}
.content .con .btn a img{
    width: 45%;
}
.content .con .mil .app{
    padding-top: 0;
}
.content .con .mil .app img{
    width: 50%;
    padding-top: 1rem;
}

/*.content .con .btn input{
    width: 43%;
    font-size: 0.65rem;
    font-weight: 600;
    line-height: 2.5rem;
    border-radius: 10px;
    text-align: left;
    text-indent: 3.3em;
    padding-right: 0.5rem;
    float: left;
    margin-left: 4%;
    outline: none;
    color: #ee3f4c;
     background: #fff;
    -webkit-box-shadow: 3px 3px 8px 3px #999;
    -moz-box-shadow: 3px 3px 8px 3px #999;
    box-shadow: 3px 3px 8px 3px #999;
    background: url("../images/Android.png") 0.5rem 0.4rem no-repeat;
    background-size: 1.2rem;
}
.content .con .btn input:nth-child(2){
    float: right;
    margin-left: 0;
    margin-right: 4%;
    background: url("../images/iOS.png") 0.5rem 0.4rem no-repeat;
    background-size: 1.2rem;
}*/

/*--下载更多 end--*/
