.fl {
    float: left
}

.fr {
    float: right
}

::-webkit-input-placeholder {
    color: #777;
    font-size: .6rem
}

::-moz-placeholder {
    color: #777;
    font-size: .6rem
}

:-ms-input-placeholder {
    color: #777;
    font-size: .6rem
}

header {
    /* background-color: #f74c32; */
    border-bottom: 1px solid #d0d0d0;
}

header ul {
    padding: 0 .5rem
}

header ul li {
    float: left;
    height: 2.2rem;
    line-height: 2.2rem;
    font-size: .7rem;
    color: #6d6d6d
}

header ul li:first-of-type {
    width: 20%
}

header ul li:first-of-type img {
    width: .525rem
}

header ul li:nth-of-type(2) {
    width: 58%;
    text-align: center
}

header ul li:nth-of-type(3) {
    width: 20%;
    text-align: right;
    font-size: .6rem
}

.content ul li {
    padding: .875rem .5rem;
    border-bottom: .025rem solid #f4f4f4
}

.content ul li .sec-left {
    float: left;
    width: 75%
}

.content ul li .sec-left > img {
    margin: .45rem .625rem .625rem 0;
    width: 2.6rem;
    float: left
}

.content ul li .sec-left h3 {
    font-weight: 400;
    height: 1.35rem;
    line-height: 1.35rem;
    font-size: .8rem;
    color: #222
}

.content ul li .sec-left div p {
    float: left;
    height: 1.1rem;
    line-height: 1.1rem;
    font-size: .6rem;
    color: #555
}

.content ul li .sec-left div span {
    float: left;
    display: block;
    width: .5rem;
    height: 1.075rem;
    position: relative
}

.content ul li .sec-left div span::after {
    content: "";
    position: absolute;
    width: .05rem;
    height: .575rem;
    background-color: #ddd;
    left: 50%;
    top: 26%
}

.content ul li .sec-left .p-zw {
    height: 1.1rem;
    line-height: 1.1rem;
    font-size: .6rem;
    color: #555
}

.content ul li .sec-right {
    float: right
}

.content ul li .sec-right p {
    height: 1.35rem;
    line-height: 1.35rem;
    font-size: .5rem;
    color: #222
}

.div-qxsc {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, .3);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1
}

.div-qxsc .box {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem
}

.div-qxsc .box p {
    text-align: center;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: .6rem;
    color: #222
}

.div-qxsc .box p:first-of-type {
    border-bottom: .5rem solid #f4f4f4
}

.rurl li {
    position: relative;
}

.img-del {
    position: absolute;
    width: 0.9rem;
    right: 4%;
    bottom: 27%;
}

.div-del {
    z-index: 999;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3)
}

.div-del .box {
    width: 75%;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 60%;
    border-radius: .35rem
}

.div-del .box > p {
    text-align: center;
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: .7rem;
    color: #1c1c1c
}

.div-del .box div {
    border-top: .025rem solid #eee
}

.div-del .box div p {
    width: 49.5%;
    text-align: center;
    height: 2.3rem;
    line-height: 2.3rem;
    font-size: .65rem;
    color: #555
}

.div-del .box div p:first-of-type {
    float: left;
    border-right: .025rem solid #eee
}

.div-del .box div p:last-of-type {
    float: right;
    color: #e74a45
}