html,
body {
    font-size: 25px;
}
.div-xiangmu {
    display: none;
    z-index: 9;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    background-color: #fff;
}
.div-xiangmu .div-box .xiangmu-header > ul {
    padding: 0 0.5rem;
}
.div-xiangmu .div-box .xiangmu-header > ul li {
    float: left;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.8rem;
    color: #000000;
}
.div-xiangmu .div-box .xiangmu-header > ul li:first-of-type {
    width: 20%;
}
.div-xiangmu .div-box .xiangmu-header > ul li:first-of-type img {
    width: 0.45rem;
}
.div-xiangmu .div-box .xiangmu-header > ul li:nth-of-type(2) {
    width: 58%;
    text-align: center;
}
.div-xiangmu .div-box .xiangmu-header > ul li:nth-of-type(3) {
    width: 20%;
    text-align: right;
    font-size: 0.6rem;
}
.div-xiangmu .div-box .xiangmu-header > ul li:nth-of-type(3) img {
    width: 0.75rem;
}
.div-xiangmu .div-box .div-con .ul-left {
    height: 92vh;
    padding-top: 0.5rem;
    width: 35%;
    overflow-y: scroll;
    background-color: #f8f8f8;
    float: left;
}
.div-xiangmu .div-box .div-con .ul-left li {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 0.6rem;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.7rem;
    color: #3d3d3d;
    background-color: #f8f8f8;
}
.div-xiangmu .div-box .div-con .ul-left li.active {
    color: #fb5858;
    background-color: #fff;
}
.div-xiangmu .div-box .div-con .div-right {
    float: left;
    width: 54.5%;
}
.div-xiangmu .div-box .div-con .div-right .ul-02,
.div-xiangmu .div-box .div-con .div-right .ul-03,
.div-xiangmu .div-box .div-con .div-right .ul-04 {
    width: 33%;
    text-align: center;
    float: left;
}
.div-xiangmu .div-box .div-con .div-right .ul-02 li,
.div-xiangmu .div-box .div-con .div-right .ul-03 li,
.div-xiangmu .div-box .div-con .div-right .ul-04 li {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.7rem;
    color: #000000;
}
.div-xiangmu .div-box .div-con .div-right .ul-02 li.active,
.div-xiangmu .div-box .div-con .div-right .ul-03 li.active,
.div-xiangmu .div-box .div-con .div-right .ul-04 li.active {
    color: #fb5858;
}
.div-xiangmu .div-box .div-con .div-right .ul-03,
.div-xiangmu .div-box .div-con .div-right .ul-04 {
    display: none;
}
.div-xiangmu .div-box .ul1 .ul-left {
    width: 35%;
}
.div-xiangmu .div-box .ul1 .div-right {
    width: 54.5%;
}
.div-xiangmu .div-box .ul1 .div-right .ul-02 {
    width: 50%;
    display: block;
}
.div-xiangmu .div-box .ul1 .div-right .ul-03 {
    width: 33%;
    display: none;
}
.div-xiangmu .div-box .ul1 .div-right .ul-04 {
    width: 33%;
    display: none;
}
.div-xiangmu .div-box .ul2 .ul-left {
    width: 35%;
}
.div-xiangmu .div-box .ul2 .div-right {
    width: 59.5%;
}
.div-xiangmu .div-box .ul2 .div-right .ul-02 {
    width: 50%;
}
.div-xiangmu .div-box .ul2 .div-right .ul-03 {
    width: 50%;
    display: block;
}
.div-xiangmu .div-box .ul2 .div-right .ul-04 {
    width: 0%;
    display: none;
}
.div-xiangmu .div-box .ul3 .ul-left {
    width: 30%;
}
.div-xiangmu .div-box .ul3 .div-right {
    width: 69.5%;
}
.div-xiangmu .div-box .ul3 .div-right .ul-02 {
    width: 30%;
}
.div-xiangmu .div-box .ul3 .div-right .ul-03 {
    width: 30%;
    display: block;
}
.div-xiangmu .div-box .ul3 .div-right .ul-04 {
    width: 30%;
    display: block;
}
.div-hangye {
    display: none;
    z-index: 9;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    background-color: #fff;
}
.div-hangye .div-box .hangye-header > ul {
    padding: 0 0.5rem;
}
.div-hangye .div-box .hangye-header > ul li {
    float: left;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.8rem;
    color: #000000;
}
.div-hangye .div-box .hangye-header > ul li:first-of-type {
    width: 20%;
}
.div-hangye .div-box .hangye-header > ul li:first-of-type img {
    width: 0.45rem;
}
.div-hangye .div-box .hangye-header > ul li:nth-of-type(2) {
    width: 58%;
    text-align: center;
}
.div-hangye .div-box .hangye-header > ul li:nth-of-type(3) {
    width: 20%;
    text-align: right;
    font-size: 0.6rem;
}
.div-hangye .div-box .hangye-header > ul li:nth-of-type(3) img {
    width: 0.75rem;
}
.div-hangye .div-box .div-con .ul-left {
    height: 92vh;
    padding-top: 0.5rem;
    width: 35%;
    overflow-y: scroll;
    background-color: #f8f8f8;
    float: left;
}
.div-hangye .div-box .div-con .ul-left li {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 0.6rem;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.7rem;
    color: #3d3d3d;
    background-color: #f8f8f8;
}
.div-hangye .div-box .div-con .ul-left li.active {
    color: #fb5858;
    background-color: #fff;
}
.div-hangye .div-box .div-con .div-right {
    float: left;
    width: 54.5%;
}
.div-hangye .div-box .div-con .div-right .ul-02,
.div-hangye .div-box .div-con .div-right .ul-03,
.div-hangye .div-box .div-con .div-right .ul-04 {
    width: 33%;
    text-align: center;
    float: left;
}
.div-hangye .div-box .div-con .div-right .ul-02 li,
.div-hangye .div-box .div-con .div-right .ul-03 li,
.div-hangye .div-box .div-con .div-right .ul-04 li {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.7rem;
    color: #000000;
}
.div-hangye .div-box .div-con .div-right .ul-02 li.active,
.div-hangye .div-box .div-con .div-right .ul-03 li.active,
.div-hangye .div-box .div-con .div-right .ul-04 li.active {
    color: #fb5858;
}
.div-hangye .div-box .div-con .div-right .ul-03,
.div-hangye .div-box .div-con .div-right .ul-04 {
    display: none;
}
.div-hangye .div-box .ul1 .ul-left {
    width: 35%;
}
.div-hangye .div-box .ul1 .div-right {
    width: 54.5%;
}
.div-hangye .div-box .ul1 .div-right .ul-02 {
    width: 50%;
    display: block;
}
.div-hangye .div-box .ul1 .div-right .ul-03 {
    width: 33%;
    display: none;
}
.div-hangye .div-box .ul1 .div-right .ul-04 {
    width: 33%;
    display: none;
}
.div-hangye .div-box .ul2 .ul-left {
    width: 35%;
}
.div-hangye .div-box .ul2 .div-right {
    width: 59.5%;
}
.div-hangye .div-box .ul2 .div-right .ul-02 {
    width: 50%;
}
.div-hangye .div-box .ul2 .div-right .ul-03 {
    width: 50%;
    display: block;
}
.div-hangye .div-box .ul2 .div-right .ul-04 {
    width: 0%;
    display: none;
}
.div-hangye .div-box .ul3 .ul-left {
    width: 30%;
}
.div-hangye .div-box .ul3 .div-right {
    width: 69.5%;
}
.div-hangye .div-box .ul3 .div-right .ul-02 {
    width: 30%;
}
.div-hangye .div-box .ul3 .div-right .ul-03 {
    width: 30%;
    display: block;
}
.div-hangye .div-box .ul3 .div-right .ul-04 {
    width: 30%;
    display: block;
}