@charset "utf-8";
/* CSS Document */

/*公共样式*/
html,body{
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
body{margin:0 auto; background-color: #f0f0f0;width:100%;}
html,body,div,p,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,button,textarea,iframe,table,th,td{margin:0 0; padding:0px 0px; font-size:12px; color:#666; font-family:'华文黑体';outline:none;}
img{ cursor:pointer;border:none;}
ul,li,ol{ list-style: none;}
a,a:link { text-decoration: none; }
a:active,a:hover { text-decoration: none; }
a:focus{ outline: none; }
.left{float:left;}
.right{float:right;}
.wfj_width{ width:92%; margin:0 auto;}
.wfj_phwidth{ width:95%; margin:0 auto;}
/*公共样式*/


/*------------------------------------------------wfj11_025-----------------------------------------------*/
.wfj11_025 .wfj11_025_width{ width:80%;margin:0 auto;}

.wfj11_025{ width:100%; height:100%; margin:0 auto; max-width:1080px; overflow:hidden;}
.wfj11_025 .wfj11_025_top{ background-color:#F74C31; overflow:hidden;}
.wfj11_025 .wfj11_025_top li{ float:left;}
.wfj11_025 .wfj11_025_top li img{ vertical-align:middle;}
.wfj11_025 .wfj11_025_top li,.wfj11_025_top li a{ color:#FFF;}

.wfj11_025 .wfj11_025_content{ clear:both; float:left; width:100%; margin:0 auto; margin-top:50px;}
.wfj11_025 .wfj11_025_content .wfj11_025_succeed{ clear:both; float:left; width:100%; margin:0 auto; text-align:center; margin-bottom:30px;}
.wfj11_025 .wfj11_025_content .wfj11_025_succeed ul{ clear:both;}
.wfj11_025 .wfj11_025_content .wfj11_025_succeed ul li{width:100%; text-align:center; float:left; height:30px; line-height:30px; text-align:center;}
.wfj11_025 .wfj11_025_content .wfj11_025_succeed ul li img{width:10%; vertical-align:middle;}
.wfj11_025 .wfj11_025_content .wfj11_025_down{ clear:both; background-color:#F6C;}
.wfj11_025 .wfj11_025_content .wfj11_025_down ul{ clear:both;}
.wfj11_025 .wfj11_025_content .wfj11_025_down ul li{ width:48%; text-align:center; height:30px; line-height:30px;}
.wfj11_025 .wfj11_025_content .wfj11_025_down ul li div{ width:100%; border:1px solid #F74C31; border-radius:5px; color:#F74C31; text-align:center; cursor:pointer;}

/*------------------------------------------------wfj11_025 end-----------------------------------------------*/









