@charset "utf-8";
/*--公共样式--*/
*{
    margin: 0;
    padding: 0;
}
html,body{

}
body{
    font-family:"microsoft yahei";


}


img{ cursor:pointer;border:none;}
ul,li,ol{ list-style: none;}
a,a:link { text-decoration: none; color: #666;-webkit-tap-highlight-color:transparent}
a:active,a:hover { text-decoration: none; }
a:focus{ outline: none; }
input{
    -webkit-tap-highlight-color:transparent;
    outline: none;
}
::-webkit-scrollbar {
    width: 0;
}
/*--公共样式 end--*/


/*--选择登录注册--*/
.header{
    height: 3.2rem!important;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    background: #f74c32;
    color: #fff;
}
.header ul{
    height: 3.2rem!important;
    overflow: hidden;
}
.header ul li{
    height: 3.2rem!important;
    line-height: 3.2rem!important;
    float: left;
    font-size: 1.1rem;
    text-align: center;
}
.header ul li:nth-child(1){
    position: relative;
}
.header ul li:nth-child(1) a{
    position: absolute;
    top: 32%;
}
.header ul li:nth-child(1) img{
    width: 0.75rem;
    vertical-align: middle;
}
.content{
    overflow: auto;
}



.content form{
    text-align: center;
    margin-top: 1.5rem;
}
.content form input{
    width: 85%;
    font-size: 1rem;
    border: 1px solid #ddd;
    line-height: 2.8rem;
    height: 2.8rem;
    padding: 0.5rem 0;
    border-radius: 3px;
    text-indent: 1em;
    outline: none;
    margin: 0 0 0.8rem 0;
    -webkit-appearance: none;
}
.content form #zc{
    width: 30%;
    height: 1.7rem;
    line-height: 1.7rem;
    text-indent: 0;
    background: #e8e8e8;
    color: #000;
    border: none;
    padding: 0;
}



.content form #zc2{
    width: 85%;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0;
    text-indent: 0;
    background: #4a74b4;
    color: #fff;
    border: none;
}


.wjmm{
    text-align: right;
    padding-right: 2rem;
}

#prompt div{
    width: 70%;
    background: rgba(0,0,0, 0.5);
}


@media (min-width: 960px) {
    body{

        margin: 0 25%;
    }
    .content form #zc2 {
        width: 21rem;

    }
    .content form input {
        width: 70%;

    }


}


