.fl {
	float: left
}

.fr {
	float: right
}

header {
	background-color: #f74c32
}

header ul {
	padding: 0 .5rem
}

header ul li {
	float: left;
	height: 3rem;
	line-height: 3rem;
	font-size: 1rem;
	color: #fff
}

header ul li:first-of-type {
	width: 20%
}

header ul li:first-of-type img {
	width: .75rem
}

header ul li:nth-of-type(2) {
	width: 58%;
	text-align: center;
	overflow: hidden;
	word-wrap: break-word;
}

header ul li:nth-of-type(3) {
	width: 20%;
	text-align: right
}

.content{
	/*position: fixed;*/
	height: 100%;
	width: 100%;
	background: #ededed;
}
.content section{
	background: #ffffff;
	margin-bottom:0.3rem;
}
.content section .cts-div{
	border-bottom:1px solid #e5e5e5;
	padding:1rem;
	height: 1.2rem;
	line-height: 1.2rem;
}

.content .tc-div{
	text-align: center;
}

.content .tc-div div{
	border-bottom: 2px solid #ededed;
}
.content section .img-right img {
	width: 0.3rem;
}

.content section .img-right {
	float: right;
	display: flex;
	align-items: center;
	height: 1.2rem;
	line-height: 1.2rem;
}

.content section .rz-span{

	float: right;
	margin-right: 0.5rem;
	color: #8d8989;
}

a, a:link {
	text-decoration: none;
	color: #000000;
}
@media (min-width: 960px) {


	html{
		margin: 0 20% 0 20%;
	}

	.content {
		width: 60%;
		border: 1px solid #ededed;
	}
}

/* Switch 容器 */
.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 28px;
}

/* 隐藏原始 checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* 滑块 */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0; left: 0; right: 0; bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
	border-radius: 28px;
}

/* 滑块圆点 */
.slider::before {
	position: absolute;
	content: "";
	height: 22px;
	width: 22px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	transition: 0.4s;
	border-radius: 50%;
}

/* 打开状态 */
input:checked + .slider {
	background-color: #4caf50;
}

input:checked + .slider::before {
	transform: translateX(22px);
}
