@charset "utf-8";
/* CSS Document */

/*公共样式*/
html,body{
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
body{margin:0 auto; background-color: #f0f0f0;width:100%;}
html,body,div,p,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,button,textarea,iframe,table,th,td{margin:0 0; padding:0px 0px; font-size:12px; color:#666; font-family:'华文黑体';}
img{ cursor:pointer;border:none;}
ul,li,ol{ list-style: none;}
a,a:link { text-decoration: none; }
a:active,a:hover { text-decoration: none; }
a:focus{ outline: none; }
.left{float:left;}
.right{float:right;}
.wfj_width{ width:92%; margin:0 auto;}
.wfj_phwidth{ width:95%; margin:0 auto;}
.bgcolorFFF{ background-color:#FFF;}
/*公共样式*/


/*------------------------------------------------wfj12_006-----------------------------------------------*/
.wfj12_006 .wfj12_006_width{ width:92%; margin:0 auto;}

.wfj_top{ width:100%; margin:0 auto; background-color:#F74C31; overflow:hidden;}
.wfj_top ul li{ float:left; text-align:center; color:#FFF;}
.wfj_top ul li img{vertical-align:middle;}


.wfj12_006{ width:100%; margin:0 auto;}
.wfj12_006 .wfj12_006_con{ width:100%; margin:0 auto;}
.wfj12_006 .wfj12_006_con ul .wfj12_006_paytype{ font-weight:bold; color:#000;}
.wfj12_006 .wfj12_006_con ul .wfj12_006_paytype font{ color:#F00;}
.wfj12_006 .wfj12_006_con ul .wfj12_006_paytype span{ color:#666; font-weight:normal; font-size:14px;}
.wfj12_006 .wfj12_006_con ul .wfj12_006_choice select,.wfj12_006_choice input{ width:100%; height:30px; background-color:#FFF; line-height:30px;}
.wfj12_006 .wfj12_006_con ul .wfj12_006_choice .paytype{ width:100%; height:30px; background-color:#FFF; line-height:30px; cursor:pointer; border:1px solid #A9A9A9;}

.wfj12_006 .wfj12_006_con .wfj12_006_addp{ width:100%;}
.wfj12_006 .wfj12_006_con .wfj12_006_addp li img{ vertical-align:middle;}
.wfj12_006 .wfj12_006_con .wfj12_006_addp .hiddenfont{ padding-right:5px;}

.wfj12_006 .wfj12_006_con .change_width{width:100%;z-index:111;position:relative; cursor:pointer;}


.wfj12_006 .wfj12_006_con .wfj12_006_hiddenimg{float:right; display:none; width:30%;}
.wfj12_006 .wfj12_006_con .wfj12_006_hiddenimg img{ vertical-align:middle;}
.wfj12_006 .wfj12_006_con .wfj12_006_hiddenimg .img_delete{ position:relative; z-index:10;}

.wfj12_006 .wfj12_006_bottom{ position:fixed; bottom:0; width:92%; height:30px; background-color:#F74C31; line-height:30px; cursor:pointer; text-align:center; color:#FFF;}

.wfj12_006 .wfj12_006_addimg{ position:fixed; bottom:0; width:100%; background-color:#FFF; cursor:pointer; text-align:center;}
.wfj12_006 .wfj12_006_addimg ul li{ width:100%;}
.wfj12_006 .wfj12_006_addimg ul li a{ color:#000; font-size:14px;}

.wfj12_006 .wfj12_006_float{ width:80%; margin:0 10%; background-color:#FFF; position:fixed; z-index:10; bottom:0; display:none;}

.wfj12_006 .wfj12_006_content{ width:100%; overflow:hidden;}
.wfj12_006 .wfj12_006_hidden{ overflow:auto;}

.wfj12_006 .wfj12_006_float .changeimg{ width:100%; height:40px; line-height:40px; cursor:pointer;}
.wfj12_006 .wfj12_006_float .changeimg li{ width:50%; font-size:13px;}
.wfj12_006 .wfj12_006_float .changeimg img{ height:20px; width:auto; vertical-align:middle;}
.wfj12_006 .txtright{ text-align:right;}



/*------------------------------------------------wfj12_006 end-----------------------------------------------*/

