#templatetable span {
	cursor: hand;
}

td {
	white-space: nowrap;
}

.seachdiv {
	background: #FFFFFF;
	width: 80%;
	border: #9a9a9a 1px solid;
}

.search {
	align: center;
	cursor: hand;
}

.delete {
	margin-top: 4px;
	margin-bottom: 4px;
	margin-right: 2px;
	cursor: hand;
}

.txt {
	border: 1px;
	width: 78%;
	float: left;
	height: 14px;
}

.tab {
	font-size: 12px;
	font-weight: bold;
	width: 50%;
	height: 30px;
	line-height: 30px;
	background: #FFFFFF;
	float: left;
	text-align: center;
}

a,a:link {
	text-decoration: none;
}

.rightArea {
	background: #FFFFFF;
	filter: none;
	height: 400px;
	width: 24%;
	float: right;
	margin-right: 1%;
	border: 1px solid #C4C4C4;
	margin-top: 1%;
}

.newFile {
	width: 70%;
	overflow: auto;
	margin-top: 3%;
	float: left;
	margin-left: 4%;
}

.tabselected {
	background: #C4C4C4;
}

.showplace {
	width: 100%;
	height: 320px;
}

#seachresult {
	border-collapse: collapse;
}

#searchresult tr td {
	border-bottom: 1px solid #EAEAEA;
	cursor: hand;
}

.greyBtn {
	background: url(../../../images/ea/office/document/bianxie.jpg)
		no-repeat;
	width: 94px;
	height: 25px;
	cursor: pointer;
	border: solid 0px #111;
	padding-left: 10px;
	line-height: 24px;
	font-size: 12px;
	margin: 0 10px 0 0px;
}

.greysBtn {
	filter: progid :                                           
		   DXImageTransform .      
		     
		                 
		                Microsoft .                 
		     
		  
		  
		  
		
		
		
		   
		 
		
		   
		gradient(startColorstr =                                           
		   '#ffffff', endColorstr =            
		   
		          
		                   '#d7d7d7', GradientType =      
		                                
		       0);
	background: #f3f3f3;
	color: #000000 !important;
	border: #888 1px solid;
	height: 25px;
	line-height: 24px;
	padding-bottom: 1px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	border-radius: 0\0;
	width: 75px;
	cursor: hand;
}

.operate {
	margin-top: 20px;
	margin-left: 5%;
}

#newDocTab {
	border-collapse: collapse;
	border: 1px solid #949494;
	font-size: 15px;
	table-layout: fixed;
	word-break: break-all;
	width: 100%;
	height: auto;
}

#newDocTab td {
	border: 1px solid #949494;
	font-size: 15px;
	padding: 2px;
}

.tdbg {
	background: #F0F0F0;
}

.deleteBtn {
	background: url(../../../images/admin_images/Delete.gif);
	width: 16px;
	height: 16px;
	line-height: 16px;
	border: none;
	cursor: hand;
}

.borderStyle {
	border: none;
	width: 100%;
}

.borderStyle2 {
	width: 93%;
	border: 0;
	height: 25px;
	line-height: 25px;
}

.txt05 {
	color: red;
}

.table {
	border-collapse: collapse;
	border: 1px solid wspView;
	font-size: 15px;
	table-layout: fixed;
	word-break: break-all;
	width: 85%;
	margin-left: 5%;
	margin-right: 5%;
	height: 100%;
}

.table th {
	border: 1px solid #a8c7ce;
	font-size: 15px;
}

.table td {
	border: 1px solid #a8c7ce;
	font-size: 15px;
	white-space: nowrap;
	padding: 4px;
}

#wspv {
	margin-top: 1px;
	width: 100%;
	height: auto;
	overflow: auto;
}

#socialJqm {
	width: 95%;
	height: 400px; absolute;
	display: none;
	left: 1%;
	top: 5%;
	background: #eff;
	overflow-x: hidden;
	overflow-y: auto;
}

.socialnext {
	background: #efg;
	margin-right: 500px;
}

#DaoRuFanqd {
	cursor: hand;
	border: 0;
	margin-left: 400px;
	height: 25px;
	width: 60px;
}

#DaoRuFan {
	cursor: hand;
	border: 0;
	margin-left: 40px;
	height: 25px;
	width: 60px;
}



a:hover {
	text-decoration: none;
}

#index {
	padding-left: 20px;
	padding-top: 20px;
}

.newBtn {
	background: url(../../../images/ea/office/document/new24.png);
	width: 24px;
	height: 24px;
	border: 0px;
	cursor: hand;
}

.numWord {
	width: 22%;
	border: 0;
	padding: 1px;
	height: 23px;
	line-height: 23px;
}